@using KetabAbee.Application.Convertors
@using KetabAbee.Domain.Models.Task
@model KetabAbee.Application.DTOs.Admin.Task.FilterTasksViewModel
@{
    ViewData["Title"] = "تسک ها";
}
<div class="page-breadcrumbs margin-bottom-20">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="AdminHome" asp-action="Home">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-left bordered-darkorange">
                <span class="widget-caption">فیلتر تسک ها</span>
            </div>
            <div class="widget-body bordered-left bordered-warning">
                <form id="filterform" class="form-inline" role="form" asp-controller="AdminTask" asp-action="Index" method="get">
                    <input type="hidden" asp-for="PageNum" />
                    <div class="form-group col-md-2">
                        <label class="sr-only">تاریخ شروع</label>
                        <input data-jdp type="text" asp-for="StartDateSearch" class="form-control" placeholder="از تاریخ شروع">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="sr-only">تاریخ پایان</label>
                        <input data-jdp type="text" asp-for="EndDateSearch" class="form-control" placeholder="تا تاریخ پایان">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="sr-only">بخش هدف</label>
                        <input type="text" asp-for="RoleSearch" class="form-control" placeholder="بخش هدف">
                    </div>
                    <button type="submit" class="btn btn-azure"> فیلتر</button>
                    <a asp-controller="AdminTask" asp-action="Index" class="btn btn-link"> لغو</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-12 margin-bottom-20">
    <div class="col-md-9">
        <a class="btn btn-success" asp-controller="AdminTask" asp-action="CreateTask">افزودن تسک جدید</a>
    </div>
</div>
<div class="row col-md-12">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-yellow">
                <div class="col-md-10">
                    @ViewData["Title"]
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger btn-sm">مهم</a>
                    <a class="btn btn-success btn-sm">عادی</a>
                    <a class="btn btn-info btn-sm">غیرضروری</a>
                </div>
            </div>
            @if (Model.Tasks != null && Model.Tasks.Any())
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                شماره
                            </th>
                            <th>
                                ایجاد شده توسط
                            </th>
                            <th>
                                بخش هدف
                            </th>
                            <th>
                                تاریخ شروع
                            </th>
                            <th>
                                تاریخ پایان
                            </th>
                            <th>
                                وضعیت
                            </th>
                            <th>
                                دستورات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr class="@(task.TaskPriority switch
                                   {
                                       TaskPriority.Important => "danger",
                                       TaskPriority.Normal => "success",
                                       _ => "info"
                                       })">
                                <td>
                                    @task.TaskId
                                </td>
                                <td>
                                    @task.CreatorName
                                </td>
                                <td>
                                    @task.RoleTitle
                                </td>
                                <td>
                                    @task.CreateDate.ToShamsi()
                                </td>
                                <td>
                                    @task.DeadLine.ToShamsi()
                                </td>
                                @if (task.IsCompleted)
                                {
                                    <td>
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </td>
                                }
                                <td>
                                    <a class="btn btn-info">مشاهده</a>
                                    <a class="btn btn-warning">ویرایش</a>
                                    <a class="btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="/js/JalaliDataPicker-min.js"></script>
    <script>
        jalaliDatepicker.startWatch();
    </script>
}