@using KetabAbee.Application.DTOs
@using KetabAbee.Application.DTOs.Admin.Home
@using KetabAbee.Application.DTOs.Admin.Task
@using KetabAbee.Application.DTOs.Ticket
@using KetabAbee.Application.Extensions
@using KetabAbee.Application.Convertors
@{
    ViewData["Title"] = "صفحه اصلی";

    // profile
    var profile = ViewBag.Profile as UserInformationInDashboardViewmodel;

    // last users
    var lstLastUsers = new List<int>
{
        ViewBag.LastDayUsers,
        ViewBag.LastWeekUsers,
        ViewBag.LastMonthUsers
    };
}

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="AdminHome" asp-action="Home">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<div class="row margin-bottom-20">
    <partial name="_AdminProfileHeader" model="profile" />
</div>
<div class="row margin-bottom-20">
    <partial name="_AdminLastUsersBox" model="lstLastUsers" />
    @{
        var userStatics = ViewBag.UserStatics as UsersStatisticsViewModel;
    }
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="orders-container">
            <div class="orders-header">
                <h6>آمار کاربران</h6>
            </div>
            @if (userStatics != null)
            {
                <ul class="orders-list">
                    <li class="order-item">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-right">
                                <div class="item-booker">تعداد کاربران</div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-left">
                                <div class="item-price">
                                    <span class="currency">نفر</span>
                                    <span class="price">@userStatics.AllUsersCount</span>
                                </div>
                            </div>
                        </div>
                        <a class="item-more" asp-area="AdminPanel" asp-controller="AdminUser" asp-action="Index">
                            <i></i>
                        </a>
                    </li>
                    <li class="order-item top">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-right">
                                <div class="item-booker">کاربران احراز هویت شده</div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-left">
                                <div class="item-price">
                                    <span class="currency">نفر</span>
                                    <span class="price">@userStatics.ValidUsersCount</span>
                                </div>
                            </div>
                        </div>
                        <a class="item-more" asp-area="AdminPanel" asp-controller="AdminUser" asp-action="Index">
                            <i></i>
                        </a>
                    </li>
                    <li class="order-item">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-right">
                                <div class="item-booker">کاربران آنلاین</div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-left">
                                <div class="item-price">
                                    <span class="currency">نفر</span>
                                    <span class="price">@userStatics.OnlineUsersCount</span>
                                </div>
                            </div>
                        </div>
                        <a class="item-more" asp-area="AdminPanel" asp-controller="AdminUser" asp-action="Index">
                            <i></i>
                        </a>
                    </li>
                    <li class="order-item top">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-right">
                                <div class="item-booker">ادمین ها</div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-left">
                                <div class="item-price">
                                    <span class="currency">نفر</span>
                                    <span class="price">@userStatics.AdminsCount</span>
                                </div>
                            </div>
                        </div>
                        <a class="item-more" asp-area="AdminPanel" asp-controller="AdminUser" asp-action="Index">
                            <i></i>
                        </a>
                    </li>
                </ul>
            }
            <div class="orders-footer">
                <a class="show-all" asp-area="AdminPanel" asp-controller="AdminUser" asp-action="Index"><i class="fa fa-angle-down"></i> نمایش همه</a>
                <div class="help">
                    <a href=""><i class="fa fa-users"></i></a>
                </div>
            </div>
        </div>
    </div>
    @{
        var ticketStatics = ViewBag.TicketStatics as TicketStaticsViewModel;
    }
    <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="widget">
            <div class="widget-header bg-palegreen">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">آمار تیکت ها</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            @if (ticketStatics != null)
            {
                <div class="widget-body">
                    <span>کل تیکت ها : </span>
                    <span>@ticketStatics.AllTicketsCount </span>
                </div>
                <div class="widget-body bg-gray">
                    <span>تیکت های بسته شده : </span>
                    <span>@ticketStatics.IsClosedTicketsCount </span>
                </div>
                <div class="widget-body bg-green">
                    <span>تیکت های خوانده شده : </span>
                    <span>@ticketStatics.IsReadTicketsCount </span>
                </div>
                <div class="widget-body bg-danger">
                    <span>تیکت های خوانده نشده : </span>
                    <span>@ticketStatics.UnReadTicketsCount </span>
                </div>
                <div class="widget-body bg-red">
                    <span>تیکت های مهم خوانده نشده : </span>
                    <span>@ticketStatics.ImportantUnReadTicketsCount </span>
                </div>
            }
        </div><!--Widget-->
    </div>
</div>
<!-- buy -->
@{
    var sellStatics = ViewBag.SellStatics as SellStaticsViewModel;
    var counter = 1;
    var counterCats = 1;
}
<div class="row margin-bottom-20">
    <h5 class="row-title before-themeprimary">آمار فروش</h5>
    <div class="row pricing-container">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan">
                <div class="header bordered-yellow">بر اساس درآمد</div>
                @if (sellStatics != null)
                {
                    <div class="price yellow">@sellStatics.LastYearOrdersIncome.ToTooman()</div>
                    <div class="monthly">یک سال گذشته</div>
                    <ul>
                        <li><b>@sellStatics.LastDayOrdersIncome.ToTooman()</b> یک روز گذشته</li>
                        <li><b>@sellStatics.LastWeekOrdersIncome.ToTooman()</b> هفته گذشته</li>
                        <li><b>@sellStatics.LastMonthOrdersIncome.ToTooman()</b> ماه گذشته</li>
                    </ul>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan popular-plan animated bounce">
                <div class="header bordered-palegreen">بر اساس کتاب</div>

                @if (sellStatics != null)
                {
                    <div class="price palegreen">@sellStatics.MostSellingBook.FirstOrDefault()</div>
                    <div class="monthly">پرفروش ترین</div>
                    <ul>
                        @foreach (var item in sellStatics.MostSellingBook)
                        {
                            <li><b> @(counter++) .</b> @item</li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan">
                <div class="header bordered-orange">بر اساس دسته بندی کتاب</div>
                @if (sellStatics != null)
                {
                    <div class="price orange">@sellStatics.MostSellingBookCategories.FirstOrDefault()</div>
                    <div class="monthly">پرفروش ترین</div>
                    <ul>
                        @foreach (var cat in sellStatics.MostSellingBookCategories)
                        {
                            <li><b> @(counterCats++) .</b> @cat</li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan popular-plan animated bounce">
                <div class="header bordered-azure">بر اساس سفارشات</div>
                @if (sellStatics != null)
                {
                    <div class="price azure">@sellStatics.LastYearOrdersCount عدد سفارش</div>
                    <div class="monthly">یک سال گذشته</div>
                    <ul>
                        <li><b>@sellStatics.LastDayOrdersCount عدد</b> یک روز گذشته</li>
                        <li><b>@sellStatics.LastWeekOrdersCount عدد</b> هفته گذشته</li>
                        <li><b>@sellStatics.LastMonthOrdersCount عدد</b> ماه گذشته</li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="well with-header">
            <div class="header bordered-danger">آمار سفارشات</div>
            <h6>پردازش نشده</h6>
            <div class="progress progress-striped active">
                @if (sellStatics != null)
                {
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@sellStatics.IsNotSendPercent" aria-valuemin="0" aria-valuemax="100" style="width: @sellStatics.IsNotSendPercent%">
                        <span class="sr-only">
                            @sellStatics.IsNotSendPercent% Complete (danger)
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="well with-header">
            <div class="header bordered-success">آمار سفارشات</div>
            <h6>پردازش شده</h6>
            @if (sellStatics != null)
            {
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@sellStatics.IsSendPercent" aria-valuemin="0" aria-valuemax="100" style="width: @sellStatics.IsSendPercent%">
                        <span class="sr-only">
                            @sellStatics.IsSendPercent% Complete (success)
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@{
    var tasks = ViewBag.CurrentAdminTasks as List<TaskForEachAdminViewModel>;
}
<div class="row">
    <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-themeprimary">
                <i class="widget-icon fa fa-tasks themeprimary"></i>
                <span class="widget-caption themeprimary">لیست تسک ها</span>
            </div><!--Widget Header-->
            <div class="widget-body no-padding">
                <div class="task-container">
                    <ul class="tasks-list">
                        @if (tasks != null && tasks.Any())
                        {
                            foreach (var task in tasks)
                            {
                                <li class="task-item">
                                    <div class="task-check">
                                        <form id="isCompForm" asp-controller="AdminHome" asp-action="ChangeTaskIsCompleted" asp-route-taskId="@task.TaskId" method="post">
                                            <label>
                                                <input onchange="submitForm()" onclick="return confirm('این تسک انجام شده است ؟')" type="checkbox">
                                                <span class="text"></span>
                                            </label>
                                        </form>
                                    </div>
                                    @{
                                        var taskPriority = task.TaskPriority.GetEnumName();
                                    }
                                    <div class="task-state">
                                        <span class="label @(taskPriority switch
                                                           {
                                                               "مهم" => "label-red",
                                                               "عادی" => "label-green",
                                                               _ => "label-info"
                                                               })">
                                            @taskPriority
                                        </span>
                                    </div>
                                    <div class="task-time">@task.CreateDate.ToShamsi()</div>
                                    <div class="task-body">@task.Body</div>
                                    <div class="task-creator"><a>@task.CreatorName</a></div>
                                    <div class="task-assignedto">@task.DeadLine.ToShamsi()</div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div><!--Widget Body-->
        </div>

    </div>
</div>
@section Scripts
{
    <script>
        function submitForm() {
            $('#isCompForm').submit();
        }
    </script>
}
