@model List<KetabAbee.Application.DTOs.Admin.Products.Options.BookSelectedToFavoriteUsersViewModel>
@{
    ViewData["Title"] = "افرادی که این کتاب را پسندیده اند";
}
<div class="alert alert-info fade in radius-bordered alert-shadowed">
    <p class="font-110">تعداد افرادی که این کتاب را پسندیده اند : @ViewBag.UsersCount</p>
</div>
<div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
        <div class="header bordered-pink">
            @ViewData["Title"]
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        آی دی
                    </th>
                    <th>
                        نام
                    </th>
                    <th>
                        <i class="fa fa-picture-o"></i> 
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @user.UserId
                            </td>
                            <td>
                                <a class="btn btn-link" asp-controller="AdminUser" asp-action="UserInfo" asp-route-userId="@user.UserId">@user.UserName</a>
                            </td>
                            <td>
                                <img alt="@user.UserName" class="img-fluid width-50 thumbnail rounded" src="/Avatar/thumb/@user.ImageName"/>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
