@using KetabAbee.Application.Extensions
@using KetabAbee.Application.Convertors
@model List<KetabAbee.Application.DTOs.AudioBook.AudioBookBoxViewModel>

<div class="col-xl-10 col-lg-9">
    <div class="swiper-container slider-amazing swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
        <div class="swiper-wrapper el-trans-3d">
            @if (Model != null && Model.Any())
            {
                foreach (var book in Model)
                {
                    <div class="swiper-slide w-229 ml-10">
                        <div class="product-card default-ui">
                            <div class="product-card-top">
                                <a asp-controller="AudioBook" asp-action="AudioBookInfo" asp-route-audiobookId="@book.Id" asp-route-audiobookName="@book.Name.NameFixerForUrl()" class="product-image">
                                    <img src="@book.ImageSavePath" alt="@book.ImageAlt">
                                </a>
                            </div>
                            <div class="product-card-middle">
                                <h6 class="product-name">
                                    <a asp-controller="AudioBook" asp-action="AudioBookInfo" asp-route-audiobookId="@book.Id" asp-route-audiobookName="@book.Name.NameFixerForUrl()">
                                        @book.Title
                                    </a>
                                </h6>
                                <div class="product-price product-price-clone">@book.Time.ShowAudioBookTime()</div>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    @book.Time.ShowAudioBookTime()
                                </div>
                                <a asp-controller="AudioBook" asp-action="AudioBookInfo" asp-route-audiobookId="@book.Id" asp-route-audiobookName="@book.Name.NameFixerForUrl()" class="btn-add-to-cart">
                                    مشاهده
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
        <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>
