@using KetabAbee.Application.Convertors
@model List<KetabAbee.Domain.Models.ContactUs.NewsLetter>
@{
    ViewData["Title"] = "خبرنامه ها";
}

<!-- Page Breadcrumb -->
<div class="page-breadcrumbs margin-bottom-20">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="AdminHome" asp-action="Home">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<div class="col-12 col-md-12 row margin-bottom-10">
    <a asp-area="AdminPanel" asp-controller="AdminNews" asp-action="AddNewsLetter" class="btn btn-success col-md-4 margin-10">افزودن خبرنامه جدید <i class="glyphicon glyphicon-plus"></i> </a>
    <a asp-area="AdminPanel" asp-controller="AdminNews" asp-action="Emails" class="btn btn-info col-md-4 margin-10">لیست ایمیل های ثبت شده در خبرنامه <i class="glyphicon glyphicon-send"></i></a>
</div>
<div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
        <div class="header bordered-pink">
            @ViewData["Title"]
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        شماره
                    </th>
                    <th>
                        عنوان
                    </th>
                    <th>
                        متن
                    </th>
                    <th>
                        تاریخ
                    </th>
                    <th>
                        وضعیت
                    </th>
                    <th>
                        دستورات
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Subject
                            </td>
                            <td>
                                @item.Body
                            </td>
                            <td>
                                @item.SendDate.ToShamsi()
                            </td>
                            @if (item.IsSend)
                            {
                                <td class="text-success">
                                    ارسال شده
                                </td>
                            }
                            else
                            {
                                <td class="text-danger">
                                    ارسال نشده
                                </td>
                            }
                            <td>
                                <a class="btn btn-success" asp-controller="AdminNews" asp-action="SendToAll" asp-route-newsId="@item.Id">ارسال به همه</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

