@using KetabAbee.Application.Convertors
@model KetabAbee.Application.DTOs.UserInformationInDashboardViewmodel
<div class="col-md-12">
    <div class="profile-container">
        <div class="profile-header row">
            <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                <img src="/Avatar/thumb/@Model.ImageName" alt="" class="header-avatar">
            </div>
            <div class="col-lg-5 col-md-8 col-sm-12 profile-info">
                <div class="header-fullname">@Model.UserName</div>
                <a href="#" class="btn btn-palegreen btn-sm  btn-follow">
                    <i class="fa fa-check"></i>
                    ادمین
                </a>
                <div class="header-information">
                    @Model.Email
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                        <div class="stats-value pink">از تاریخ</div>
                        <div class="stats-title">@Model.RegisterDate.ToIraniDate()</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                        <div class="stats-value pink">تلفن</div>
                        <div class="stats-title">@Model.Mobile</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                        <div class="stats-value pink">متولد</div>
                        <div class="stats-title">@Model.BirthDate?.ToIraniDate()</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                        ایمیل: <strong>@Model.Email</strong>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                        <i class="glyphicon glyphicon-map-marker"></i> <strong>@Model.Address</strong>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                        سن: <strong>@Model?.Age</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>