@using System.Security.Claims
@using KetabAbee.Application.Convertors
@using KetabAbee.Application.DTOs.Book
@using KetabAbee.Application.Extensions
@using KetabAbee.Application.Interfaces.Product
@using KetabAbee.Domain.Models.Order
@model KetabAbee.Application.DTOs.UserInformationInDashboardViewmodel
@inject IProductService _productService;
@{
    ViewData["Title"] = "داشبورد";
}

<main class="page-content" style="margin-top: 207px; transform: none;">
    <div class="container" style="transform: none;">
        <div class="row mb-5" style="transform: none;">
            <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1062.5px;">
                    <div class="sidebar-widget">
                        @await Component.InvokeAsync("UserPanelSideBarComponent")
                    </div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 352px; height: 1045px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="row mb-4">
                    <div class="col-lg-6 mb-lg-0 mb-3">
                        <div class="section-title mb-2">
                            اطلاعات شخصی
                        </div>
                        <section class="shadow-around p-3">
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="text-sm text-muted">نام کاربری:</div>
                                    <div class="text-dark font-weight-bold">@Model.UserName</div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="text-sm text-muted">پست الکترونیک:</div>
                                    <div class="text-dark font-weight-bold">@Model.Email</div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="text-sm text-muted">شماره تلفن همراه:</div>

                                    @if (Model.Mobile == null)
                                    {
                                        <div class="text-dark font-weight-bold">
                                            -
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-dark font-weight-bold">
                                            @Model.Mobile
                                        </div>
                                    }

                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="text-sm text-muted">سن:</div>
                                    @if (Model.Age == 0)
                                    {
                                        <div class="text-dark font-weight-bold">-</div>
                                    }
                                    else
                                    {
                                        <div class="text-dark font-weight-bold">@Model.Age</div>
                                    }
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="text-sm text-muted">تاریخ ثبت نام:</div>
                                    <div class="text-dark font-weight-bold">@Model.RegisterDate.ToShamsi()</div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="text-sm text-muted">موجودی:</div>
                                    <div class="text-dark font-weight-bold">@Model.Wallet.ToTooman()</div>
                                </div>
                                <div class="col-12">
                                    <div class="text-center">
                                        <a asp-action="EditProfile" class="link--with-border-bottom">
                                            <i class="far fa-edit"></i>
                                            ویرایش اطلاعات شخصی
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    @{
                        var favBooks = ViewBag.FavBooks as List<BookListViewModel>;
                        var userId = User.GetUserId();
                    }
                    <div class="col-lg-6 mb-lg-0 mb-3">
                        <div class="section-title mb-2">
                            لیست علاقه‌مندی‌ها
                        </div>
                        <section class="shadow-around p-3">
                            <div class="row">
                                @if (favBooks != null && favBooks.Any())
                                {
                                    foreach (var book in favBooks)
                                    {
                                        <div class="col-12 mb-4">
                                            <div class="product-list-section">
                                                <div class="product-thumbnail">
                                                    <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@book.BookId">
                                                        <img src="/images/Book/thumb/@book.ImageName" alt="product image">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-title">
                                                        <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@book.BookId">
                                                            @book.Name
                                                        </a>
                                                    </div>
                                                    @if (book.BookInventory != null && book.BookInventory != 0)
                                                    {
                                                        <div class="text-danger">
                                                            @book.Price.ToString("#,0")
                                                            <span class="text-sm">تومان</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="text-danger">
                                                            <span class="text-sm">اتمام موجودی</span>
                                                        </div>
                                                    }
                                                    @{
                                                        var likeId = _productService.GetFavBookIdByBookIdAndUserId(userId, book.BookId);
                                                    }
                                                    <div class="remove-item p-1">
                                                        <a asp-controller="Book" asp-action="RemoveBookFromFavorite" asp-route-likeId="@likeId"><i class="far fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-12 mb-4">
                                        <div class="alert alert-warning">
                                            لیست علاقه مندی های شما خالی است
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
                @{
                    var orders = ViewBag.Orders as List<Order>;
                }
                @if (orders != null && orders.Any())
                {
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title mb-2">
                                آخرین سفارش‌ها
                            </div>
                            <section class="table--order shadow-around">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>شماره سفارش</th>
                                                <th>تاریخ ثبت سفارش</th>
                                                <th>مبلغ کل</th>
                                                <th>وضعیت</th>
                                                <th>جزییات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var order in orders.OrderByDescending(o => o.CreateDate))
                                            {
                                                <tr>
                                                    <td class="order-code">KTA - @order.OrderId</td>
                                                    <td>@order.CreateDate.ToIraniDate()</td>
                                                    <td>@order.OrderSum.ToToman()</td>
                                                    <td class="text-success">پرداخت شده</td>
                                                    <td class="order-detail-link">
                                                        <a asp-area="UserPanel" asp-controller="Order" asp-action="Order" asp-route-orderId="@order.OrderId">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center py-3">
                                    <a asp-area="UserPanel" asp-controller="Order" asp-action="Orders" class="d-flex align-items-center justify-content-center text-dark">
                                        مشاهده لیست سفارش ها
                                        <i class="fal fa-arrow-to-left mr-1"></i>
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>
                }
            </div>
        </div>
        <partial name="_Banner" />
    </div>
</main>

