@using KetabAbee.Application.Convertors
@model List<KetabAbee.Application.DTOs.Book.BookListViewModel>
@{
    ViewData["Title"] = "علاقه مندی ها";
}


<main class="page-content mt-207 none-transform">
    <div class="container none-transform">
        <div class="row mb-5 none-transform">
            <partial name="_UserPanelSideBar_Col3_207px"/>
            <div class="col-lg-9 col-md-8">
                <div class="section-title mb-2">
                    لیست علاقه‌مندی‌ها
                </div>
                <div class="shadow-around">
                    <div class="listing-items row">
                        @if (Model != null && Model.Any())
                        {
                            foreach (var fav in Model)
                            {
                                <div class="col-lg-6 px-0">
                                    <div class="product-card product-card-horizontal">
                                        <div class="product-card-top">
                                            <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@fav.BookId" class="product-image">
                                                <img src="/images/Book/thumb/@fav.ImageName" alt="product image">
                                            </a>
                                            <div class="product-card-actions">
                                                <button class="add-to-wishlist added" disabled="disabled"><i class="fas fa-heart"></i></button>
                                            </div>
                                        </div>
                                        <div class="product-card-middle">
                                            <h6 class="product-name">
                                                <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@fav.BookId">
                                                    @fav.Name اثر @fav.Writer
                                                </a>
                                            </h6>
                                            @if (fav.BookInventory != null && fav.BookInventory != 0)
                                            {
                                                <div class="product-price product-price-clone">@fav.Price.ToToman()</div>
                                            }
                                            else
                                            {
                                                <div class="product-price product-price-clone">نا موجود</div>
                                            }
                                        </div>
                                        <div class="product-card-bottom">
                                            @if (fav.BookInventory != null && fav.BookInventory != 0)
                                            {
                                                <div class="product-price">
                                                    @fav.Price.ToToman()
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="product-price">
                                                    نا موجود
                                                </div>
                                            }
                                            @if (fav.BookInventory != null && fav.BookInventory != 0)
                                            {
                                                <a asp-controller="Book" asp-action="AddToCart" asp-route-productId="@fav.BookId" class="btn btn-primary btn-sm shadow">
                                                    <i class="fad fa-cart-plus"></i>
                                                    افزودن به سبد خرید
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger btn-sm shadow">
                                                    موجودی نداریم :(
                                                </a>
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <partial name="_Banner" />
    </div>
</main>
