@using KetabAbee.Application.Extensions
@using KetabAbee.Application.DTOs.Book
@using KetabAbee.Application.Interfaces.Product
@using KetabAbee.Domain.Models.Products
@model KetabAbee.Domain.Models.Products.Book
@inject IProductService _productService;
@{
    ViewData["Title"] = " مشخصلات، قیمت و خرید کتاب " + Model.Name + " اثر " + Model.Writer + " نشر " + Model.Publisher.PublisherName;
    var userId = User.GetUserId();
    var bookScoresCount = _productService.AllBookSentScoresCount(Model.BookId);
    var userBoughtCourse = User.Identity.IsAuthenticated && _productService.IsUserBoughtBook(userId, Model.BookId);
}
<main class="page-content" style="margin-top: 205.5px;">
    <div class="container">
        <div class="row mb-1">
            <div class="col-12">
                <!-- breadcrumb -->
                <div class="breadcrumb mb-1">
                    <nav>
                        <a asp-controller="Home" asp-action="Index">کتاب آبی</a>
                        <a asp-controller="Book" asp-action="Index">کتاب ها</a>
                        <a href="#" class="active">@Model.Name</a>
                    </nav>
                </div>
                <!-- end breadcrumb -->
            </div>
        </div>
        <div class="product-detail shadow-around mb-5 py-5">
            <div class="row mb-3 mx-0">
                <div class="col-xl-4 col-lg-4 col-md-6 mb-md-0 mb-3">
                    <div class="product-gallery">
                        <div class="swiper-container gallery-slider pb-md-0 pb-3 swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide" style="width: 415px;">
                                    <img src="/images/Book/image/@Model.ImageName" data-large="/images/Book/image/@Model.ImageName" class="zoom-image thumbnail rounded" alt="gallery item" style="visibility: visible;">
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination d-md-none swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-bullets-dynamic" style="width: 40px;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" tabindex="0" role="button" aria-label="Go to slide 1" style="right: 16px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" tabindex="0" role="button" aria-label="Go to slide 2" style="right: 16px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" tabindex="0" role="button" aria-label="Go to slide 3" style="right: 16px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4" style="right: 16px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5" style="right: 16px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6" style="right: 16px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7" style="right: 16px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 8" style="right: 16px;"></span></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="product--actions">
                                <li>
                                    <!-- در صورت نیاز به استفاده از فرم از کد زیر استفاده کنید -->
                                    <partial name="_AddToFavorite" model="ViewBag.FavBook as FavoriteBook" />
                                    @*<a asp-controller="Book" asp-action="AddToFavorite" asp-route-bookId="@Model.BookId" class="is-action add-to-favorite"><i class="fas fa-heart"></i></a>
                                        <span class="tooltip--action">افزودن به علاقمندی</span>*@
                                </li>
                            </ul>
                        }
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-6">
                    <div class="product-title mb-3">
                        <div class="breadcrumb mb-1">
                            <nav>
                                <a href="#" class="text-info">انتشارات @Model.Publisher.PublisherName</a>
                                <a href="#" class="text-info">دسته @Model.Group.GroupTitle</a>
                                <a href="#" class="text-info">@Model.SubGroup.GroupTitle</a>
                            </nav>
                        </div>
                        <h1>
                            @Model.Name اثر @Model.Writer نشر @Model.Publisher.PublisherName
                        </h1>
                    </div>
                    @if (bookScoresCount != 0)
                    {
                        <div class="help-block text-muted mb-4">
                            <p>
                                <i class="fa fa-heart text-danger"></i>
                                @_productService.SatisfiedBookBuyersPercent(Model.BookId)% از خریداران، از این کالا راضی بوده اند.
                            </p>
                            <p>
                                <i class="fa fa-star" style="color: #FFD700"></i>
                                @_productService.GetBookAverageScore(Model.BookId)
                                <span class="text-black-50">(@bookScoresCount)</span>
                                <span> ° </span>
                                <a class="text-info">@ViewBag.CommentCount دیدگاه کاربران</a>
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="help-block text-muted mb-4">
                            <p>
                                <i class="fa fa-heart text-danger"></i>
                                هنوز امتیازی ثبت نشده
                            </p>
                            <p>
                                <i class="fa fa-star" style="color: #FFD700"></i>
                                هنوز امتیازی ثبت نشده
                                <span class="text-black-50">(0)</span>
                                <span> ° </span>
                                <a class="text-info">@ViewBag.CommentCount دیدگاه کاربران</a>
                            </p>
                        </div>
                    }

                    <div class="product-params-special">
                        <ul data-title="ویژگی‌های محصول">
                            <li>
                                <span>نویسنده: </span>
                                <span>@Model.Writer</span>
                            </li>
                            <li>
                                <span>ناشر: </span>
                                <span>@Model.Publisher.PublisherName</span>
                            </li>
                            <li>
                                <span>رده‌بندی کتاب: </span>
                                <span>
                                    @Model.Group.GroupTitle (@Model.SubGroup.GroupTitle)
                                    @if (Model.SubGroup2 != null)
                                    {
                                        <span>(@Model.SubGroup2?.GroupTitle)</span>
                                    }
                                </span>
                            </li>
                            <li>
                                <span>تعداد صفحه: </span>
                                <span>@Model.PagesCount</span>
                            </li>
                            <li>
                                <span>نوع جلد: </span>
                                <span>@Model.CoverType.GetEnumName()</span>
                            </li>
                            <li>
                                <span>محدوده سنی مناسب: </span>
                                <span>@Model.AgeRange.GetEnumName()</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mx-lg-0 mx-auto">
                    @if (Model.Inventory != null && Model.Inventory != 0)
                    {
                        <div class="box-info-product border bg-light">
                            <span class="d-block">
                                قیمت:
                            </span>
                            <div class="d-flex align-items-center justify-content-end mt-3">
                                <div class="product-price">
                                    <div class="product-price-real">
                                        <div class="product-price-raw">@Model.Price.ToString("#,0") </div>
                                        تومان
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                @*route url*@
                                @*<a asp-controller="Book" asp-action="AddToCart" asp-route-productId="@Model.BookId" asp-route-url="@reqUrl" class="add-to-cart btn-block">
                                        افزودن به سبد خرید
                                    </a>*@
                                <a asp-controller="Book" asp-action="AddToCart" asp-route-productId="@Model.BookId" target="_blank" class="add-to-cart btn-block">
                                    افزودن به سبد خرید
                                </a>
                            </div>
                        </div>
                        @if (Model.Inventory < 10)
                        {
                            <div class="text-danger mt-3">
                                <i class="fa fa-info-circle"></i>
                                تنها @Model.Inventory عدد باقی مانده است <a asp-controller="Book" asp-action="AddToCart" asp-route-productId="@Model.BookId">همین الان بخرید</a>.
                            </div>
                        }
                    }
                    else
                    {
                        <div class="box-info-product border border-danger bg-light">
                            <span class="d-block">
                                اتمام موجودی:
                            </span>
                            <div class="d-flex align-items-center justify-content-end mt-3">
                                <div class="product-price">
                                    <div class="product-price-real text-danger">
                                        <div class="product-price-raw">@Model.Name </div>
                                        موجود نیست.
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <a class="add-to-cart bg-danger btn-block disabled">
                                    افزودن به سبد خرید
                                </a>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="py-3">
                <div class="row mx-0">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="services pt-3 row mx-0">
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/delivery-person.png" alt="">
                        <div class="service-item-body">
                            <h6>تحویل سریع و رایگان</h6>
                            <p>تحویل رایگان کالا برای کلیه سفارشات بیش از 500 هزار تومان</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/recieve.png" alt="">
                        <div class="service-item-body">
                            <h6>۷ روز ضمانت بازگشت</h6>
                            <p>در صورت نارضایتی به هر دلیلی می توانید محصول را بازگردانید</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/headset.png" alt="">
                        <div class="service-item-body">
                            <h6>پشتیبانی ۲۴ ساعته</h6>
                            <p>در صورت وجود هرگونه سوال یا ابهامی، با ما در تماس باشید</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/debit-card.png" alt="">
                        <div class="service-item-body">
                            <h6>پرداخت آنلاین ایمن</h6>
                            <p>محصولات مدنظر خود را با خیال آسوده به صورت آنلاین خریداری کنید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (userBoughtCourse && !_productService.ScoreSentByUser(userId, Model.BookId))
        {
            <section class="product-carousel mb-5 border bordered-success">
                <form asp-controller="Book" asp-action="AddScore" method="post">
                    <input type="hidden" name="bookId" value="@Model.BookId" />
                    <div class="section-title">
                        <i class="fad fa-vote-yea text-success"></i>
                        امتیاز شما به این محصول
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="form-element-row">
                                <label class="label-element">امتیاز به کیفیت کالا</label>
                                <select name="qualityScore" class="select2 select2-hidden-accessible" data-select2-id="select1-data-1-aho7" tabindex="-1" aria-hidden="true">
                                    <option value="" data-select2-id="select2-data-3-munx">--انتخاب امتیاز--</option>
                                    <option value="5">بسیار عالی</option>
                                    <option value="4">عالی</option>
                                    <option value="3">خوب</option>
                                    <option value="2">متوسط</option>
                                    <option value="1">ضعیف</option>
                                    <option value="0">بسیار ضعیف</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element-row">
                                <label class="label-element">امتیاز به محتوای کالا</label>
                                <select name="contentScore" class="select2 select2-hidden-accessible" data-select2-id="select2-data-1-aho7" tabindex="-1" aria-hidden="true">
                                    <option value="" data-select2-id="select2-data-3-munx">--انتخاب امتیاز--</option>
                                    <option value="5">بسیار عالی</option>
                                    <option value="4">عالی</option>
                                    <option value="3">خوب</option>
                                    <option value="2">متوسط</option>
                                    <option value="1">ضعیف</option>
                                    <option value="0">بسیار ضعیف</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">ثبت امتیاز</button>
                    </div>
                </form>
            </section>
        }
        @{
            var ageRangeBooks = ViewBag.AgeRangeBooks as List<BookListViewModel>;
            var age = ViewBag.UserAge;
        }
        @if (User.Identity.IsAuthenticated && age != null && age != 0)
        {
            <section class="product-carousel mb-5">
                <div class="section-title">
                    <i class="fad fa-retweet"></i>
                    کتاب های مناسب سن شما
                </div>
                <div class="swiper-container slider-lg swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                        @if (ageRangeBooks != null && ageRangeBooks.Any())
                        {
                            foreach (var book in ageRangeBooks)
                            {
                                <partial name="_PublisherBooksBox" model="book" />
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning col-md-12">کتابی مناسب سن شما ثبت نشده است.</div>
                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </section>
        }

        <!-- product-tab-content -->
        <div class="row mb-5">
            <div class="col-12">
                <div class="product-tab-content">
                    <ul class="nav nav-tabs" id="product-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="productDescription-tab" data-toggle="tab" href="#productDescription" role="tab" aria-controls="productDescription" aria-selected="true">خلاصه کتاب</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="productParams-tab" data-toggle="tab" href="#productParams" role="tab" aria-controls="productParams" aria-selected="false">مشخصات </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="productComments-tab" data-toggle="tab" href="#productComments" role="tab" aria-controls="productComments" aria-selected="false">دیدگاه ها</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="product-tab">
                        <div class="tab-pane fade show active" id="productDescription" role="tabpanel" aria-labelledby="productDescription-tab">
                            <div class="product-desc">
                                <div class="accordion accordion-product" id="accordionDescription">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    خلاصه کتاب @Model.Name
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionDescription">
                                            <div class="card-body">
                                                @if (Model.Abstract != null)
                                                {
                                                    <p>
                                                        @Html.Raw(Model.Abstract)
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="alert alert-info">
                                                        خلاصه ای برای این کتاب ثبت نشده است.
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="productParams" role="tabpanel" aria-labelledby="productParams-tab">
                            <div class="product-params">
                                <section>
                                    <h3 class="params-title">دسته بندی</h3>
                                    <ul class="params-list">
                                        <li>
                                            <div class="params-list-key">
                                                <span>قرار گرفته در دسته بندی</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span>
                                                    @Model.Group.GroupTitle
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="params-list-key">
                                            </div>
                                            <div class="params-list-value">
                                                <span>
                                                    @Model.SubGroup.GroupTitle
                                                </span>
                                            </div>
                                        </li>
                                        @if (Model.SubGroup2 != null)
                                        {
                                            <li>
                                                <div class="params-list-key">
                                                </div>
                                                <div class="params-list-value">
                                                    <span>
                                                        @Model.SubGroup2.GroupTitle
                                                    </span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </section>
                                <section>
                                    <h3 class="params-title">مشخصات عمومی</h3>
                                    <ul class="params-list">
                                        <li>
                                            <div class="params-list-key">
                                                <span>نوع جلد</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span>
                                                    @Model.CoverType.GetEnumName()
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="params-list-key">
                                                <span>گروه سنی مناسب</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span>
                                                    @Model.AgeRange.GetEnumName()
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="params-list-key">
                                                <span>تعداد صفحه</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span>
                                                    @Model.PagesCount
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="productComments" role="tabpanel" aria-labelledby="productComments-tab">
                            <!-- product-review -->
                            <div class="product-review-form mb-3">
                                <form asp-controller="Book" asp-action="AddComment"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-mode="replace"
                                      data-ajax-update="#CommentList"
                                      data-ajax-success="Success">
                                    <input type="hidden" name="comment.ProductId" value="@Model.BookId" />
                                    <div class="row align-items-center">
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <div class="col-lg-6">
                                                <div class="form-element-row">
                                                    <label class="label-element">
                                                        نام شما
                                                    </label>
                                                    <input type="text" id="userName" name="comment.UserName" class="input-element" required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-element-row">
                                                    <label class="label-element">
                                                        ایمیل
                                                        شما
                                                    </label>
                                                    <input type="email" id="userEmail" name="comment.Email" class="input-element" required="">
                                                </div>
                                            </div>
                                        }
                                        <div class="col-12">
                                            <div class="form-element-row">
                                                <label for="phone-number" class="label-element">نظر شما</label>
                                                <textarea name="comment.Body" id="comment-body" cols="30" rows="10" class="input-element"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary px-3">ارسال نظر <i class="fad fa-comment-alt-edit"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="section-title mb-1 mt-4">
                                    دیدگاه کاربران (@ViewBag.CommentCount)
                                </div>
                                <hr>
                            </div>
                            <div class="comments-list" id="CommentList">

                            </div>
                            <!-- end product-review -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product-tab-content -->
        @{
            var publisherBooks = ViewBag.PublisherBooks as List<BookListViewModel>;
        }
        <section class="product-carousel">
            <div class="section-title">
                <i class="fad fa-retweet"></i>
                دیگر کتاب های نشر @Model.Publisher.PublisherName
            </div>
            <div class="swiper-container slider-lg swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    @if (publisherBooks != null && publisherBooks.Any())
                    {
                        foreach (var book in publisherBooks)
                        {
                            <partial name="_PublisherBooksBox" model="book" />
                        }
                    }
                    else
                    {
                        <div class="alert alert-warning col-md-12">کتاب دیگری از این انتشارات ثبت نشده است.</div>
                    }
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </section>
    </div>
</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function() {
            $("#CommentList").load("/Book/ShowComments/" + @Model.BookId);
        });
        function pageComment(pageNum) {
            $("#CommentList").load("/Book/ShowComments/" + @Model.BookId + "?pageNum="+pageNum);
        }
        function Success() {
            $("#userName").val("");
            $("#userEmail").val("");
            $("#comment-body").val("");
            swal.fire({
                title: "موفق",
                text: "کامنت با موفقیت ثبت شد",
                icon: "success",
                confirmButtonText: 'باشه'
            });
        }

        function SuccessAnswer() {
            $("#answer-body").val("");
            swal.fire({
                title: "موفق",
                text: "پاسخ با موفقیت ثبت شد",
                icon: "success",
                confirmButtonText: 'باشه'
            });
        }
        
    </script>
}