@using KetabAbee.Domain.Models.Products
@model KetabAbee.Application.DTOs.Book.FilterBookListViewModel
@{
    ViewData["Title"] = "کتاب ها";
}
<form id="filterform" asp-controller="Book" asp-action="Index" method="get">
    <input type="hidden" asp-for="PageNum" />
    <main class="page-content mt-205 none-transform">
        <div class="container none-transform">
            <div class="row mb-5 none-transform">
                <div class="col-lg-3 col-md-4 sticky-sidebar filter-options-sidebar el-position">
                    <div class="theiaStickySidebar el-sticky-sidebar">
                        <div class="d-md-none">
                            <div class="header-filter-options">
                                <span>جستجوی پیشرفته <i class="fad fa-sliders-h"></i></span>
                                <button class="btn-close-filter-sidebar"><i class="fal fa-times"></i></button>
                            </div>
                        </div>
                        @{
                            var groups = ViewBag.Groups as List<ProductGroup>;
                        }
                        <div class="sidebar-widget">
                            <div class="widget widget-filter-options shadow-around">
                                <div class="widget-title">دسته بندی کتاب ها</div>
                                <div class="widget-content">
                                    @if (groups != null && groups.Any())
                                    {
                                        foreach (var group in groups.Where(g => g.ParentId == null))
                                        {
                                            <div class="custom-control custom-switch">
                                                @if (Model.SearchCategory != null && Model.SearchCategory.Any())
                                                {
                                                    <input onchange="submitchange()" type="checkbox" @(Model.SearchCategory.Any(g => g == group.GroupId) ? "checked" : "") name="SearchCategory" value="@group.GroupId" id="@group.GroupId" class="custom-control-input">
                                                }
                                                else
                                                {
                                                    <input onchange="submitchange()" type="checkbox" name="SearchCategory" value="@group.GroupId" id="@group.GroupId" class="custom-control-input">
                                                }
                                                <label class="custom-control-label" for="@group.GroupId">
                                                    @group.GroupTitle
                                                </label>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="widget shadow-around">
                                <div class="widget-title">جستجو</div>
                                <div class="widget-content">
                                    <div class="search-in-options form-element-row">
                                        <div class="form-element-with-icon">
                                            <input asp-for="Search" class="input-element" placeholder="جستجوی نام کتاب ..." />
                                            <i class="fad fa-file-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget shadow-around">
                                <div class="widget-content">
                                    <div class="custom-control custom-switch">
                                        <input onchange="submitchange()" type="checkbox" asp-for="Exist" class="custom-control-input" id="exSwitch">
                                        <label class="custom-control-label" for="exSwitch">
                                            فقط کالاهای موجود
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="widget shadow-around">
                                <div class="widget-title">محدوده قیمت</div>
                                <div class="widget-content">
                                    <div class="mt-2 mb-2">
                                        <ul class="filter-range">
                                            <li data-label="از" data-currency=" تومان">
                                                <input type="text" value="@Model?.MinPrice" asp-for="MinPrice" class="js-slider-range-from example-val">
                                            </li>
                                            <li data-label="تا" data-currency="تومان">
                                                <input type="text" value="@Model?.MaxPrice" asp-for="MaxPrice" class="js-slider-range-to example-val">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mt-3 mb-3 mr-5">
                                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center">
                                            <i class="fad fa-funnel-dollar ml-2"></i>
                                            اعمال محدوده قیمت
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @{
                                var publishers = ViewBag.Publishers as List<Publisher>;
                            }
                            <div class="widget widget-filter-options shadow-around">
                                <div class="widget-title">ناشر</div>
                                <div class="widget-content pl-3">
                                    @if (publishers != null && publishers.Any())
                                    {
                                        foreach (var publisher in publishers)
                                        {
                                            <label class="container-checkbox">
                                                <span class="d-flex justify-content-between align-items-center">
                                                    <span>@publisher.PublisherName</span>
                                                    <span class="color-option"></span>
                                                </span>
                                                @if (Model.SelectedPublishers != null && Model.SelectedPublishers.Any())
                                                {
                                                    <input type="checkbox" onchange="submitchange()" @(Model.SelectedPublishers.Any(p => p == publisher.PublisherId) ? "checked" : "") name="SelectedPublishers" value="@publisher.PublisherId">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" onchange="submitchange()" name="SelectedPublishers" value="@publisher.PublisherId">
                                                }
                                                <span class="checkmark"></span>
                                            </label>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="d-md-none">
                                <button class="btn-filter-product-submit">جستجوی پیشرفته</button>
                            </div>
                        </div>
                        <partial name="_StickySideBarThirdDiv" />
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="d-md-none">
                        <button class="btn-filter-sidebar">
                            جستجوی پیشرفته <i class="fad fa-sliders-h"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- breadcrumb -->
                            <div class="breadcrumb mb-2 pt-2">
                                <nav>
                                    <a href="/">کتاب آبی</a>
                                    <a asp-controller="Book" asp-action="Index">@ViewData["Title"]</a>
                                </nav>
                            </div>
                            <!-- end breadcrumb -->
                        </div>
                    </div>
                    <div class="listing-items row">
                        @if (Model is {Books: { } } && Model.Books.Any())
                        {
                            foreach (var book in Model.Books)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6 px-0">
                                    <partial name="_BookBox" model="book" />
                                </div>
                            }
                            <div class="col-12 px-0">
                                <partial name="_Paging" model="Model.GetCurrentPaging()" />
                            </div>
                        }
                        else
                        {
                            <div class="col-12 text-center alert alert-warning">
                                محصولی برای نمایش وجود ندارد
                            </div>
                            <div class="col-12 px-0">
                                <div class="pagination">
                                    <a class="current">0</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</form>
<!-- /Page Content -->
@section Scripts{

    <script>
        function submitchange() {
            $("#filterform").submit();
        }
    </script>
}