@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@using KetabAbee.Application.Interfaces.Comment
@using KetabAbee.Application.Interfaces.Product
@model Tuple<List<KetabAbee.Domain.Models.Comment.ProductComment.ProductComment>, int>
@inject IProductService _productService;
@inject ICommentService _commentService;
@{
    Layout = null;
}
@if (Model.Item1 != null && Model.Item1.Any())
{
    @foreach (var comment in Model.Item1)
    {
        <div class="row">
            <div class="col-md-3 aside">
                <ul class="comments-user-shopping">
                    <li>
                        <div class="cell cell-name">
                            @comment.UserName
                        </div>
                        @if (User.Identity.IsAuthenticated && _productService.IsUserBoughtBook(comment.UserId ?? 0, comment.ProductId))
                        {
                            <div class="comments-buyer-badge">خریدار</div>
                        }
                    </li>
                    <li>
                        <div class="cell">
                            @comment.SendDate.ToIraniDate()
                        </div>
                    </li>
                </ul>
                <ul class="comments-user-shopping">
                    <li>
                        <div class="cell cell-title">فروشنده:</div>
                        <div class="cell seller-cell">
                            <a class="border-bottom-dt">کتاب آبی</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 article">
                <p>
                    @comment.Body
                </p>
            </div>
            @if (User.Identity.IsAuthenticated)
            {

                <div class="col-md-3">
                    <div class="col-12">
                        <form asp-controller="Book" asp-action="AddAnswer"
                              data-ajax="true"
                              data-ajax-method="post"
                              data-ajax-mode="replace"
                              data-ajax-update="#CommentList"
                              data-ajax-success="SuccessAnswer">
                            <input type="hidden" name="productId" value="@comment.ProductId" />
                            <input type="hidden" name="answer.CommentId" value="@comment.CommentId" />
                            <div class="form-element-row">
                                <textarea name="answer.AnswerBody" id="answer-body" cols="10" rows="5" class="input-element" placeholder="متن پاسخ خود را وارد کنید"></textarea>
                                <div class="comments-likes">
                                    <button class="btn-like">پاسخ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            }
            @if (comment.Answers != null && comment.Answers.Any())
            {
                foreach (var answer in comment.Answers.OrderByDescending(a => a.SendDate))
                {
                    <div class="row col-md-9 border bordered-gray rounded mt-1 mb-1">
                        <div class="col-md-3 aside">
                            <ul class="comments-user-shopping">
                                <li>
                                    <div class="cell cell-name">
                                        @answer.UserName
                                    </div>
                                    @if (User.Identity.IsAuthenticated && _productService.IsUserBoughtBook(answer.UserId, comment.ProductId))
                                    {
                                        <div class="comments-buyer-badge">خریدار</div>
                                    }
                                </li>
                                <li>
                                    <div class="cell">
                                        @answer.SendDate.ToIraniDate()
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 article">
                            <p>
                                @answer.AnswerBody
                            </p>
                        </div>
                        <div class="col-md-1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (_commentService.IsUserSendAnswer(User.GetUserId(), answer.Id))
                                {
                                    <a asp-controller="Book" asp-action="RemoveAnswer"
                                       asp-route-answerId="@answer.Id" asp-route-bookId="@comment.ProductId"
                                       class="btn btn-danger btn--remove--comment btn-sm mt-3 mr-3"><i class="fa fa-trash"></i></a>
                                }
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row col-md-9">
                </div>
            }
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
                @if (User.Identity.IsAuthenticated)
                {
                    if (_commentService.IsUserSendComment(User.GetUserId(), comment.CommentId))
                    {
                        <a asp-controller="Book" asp-action="RemoveComment"
                           asp-route-commentId="@comment.CommentId" asp-route-bookId="@comment.ProductId"
                           class="btn btn-outline-danger btn--remove--comment"><i class="fa fa-trash"></i></a>
                    }
                }
                else
                {
                    if (_commentService.IsUserSendComment(Context.GetUserIp(), comment.CommentId))
                    {
                        <a asp-controller="Book" asp-action="RemoveComment"
                           asp-route-commentId="@comment.CommentId" asp-route-bookId="@comment.ProductId"
                           class="btn btn-outline-danger btn--remove--comment"><i class="fa fa-trash"></i></a>
                    }
                }
            </div>
        </div>

    }
    <div class="pagination">
        @for (int i = 1; i <= Model.Item2; i++)
        {
            <a class="btn btn-outline-success ml-1" onclick="pageComment(@i)">@i</a>
        }
    </div>
}
else
{
    <div class="row">
        <div class="alert alert-info">
            هنوز دیدگاهی ثبت نشده است
        </div>
    </div>
}
