@using KetabAbee.Domain.Models.Order
@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions

@{
    bool isAuth = ViewBag.IsAuth;
    bool isAdmin = false;
    if (isAuth)
    {
        isAdmin = ViewBag.IsAdmin;
    }
}

<header class="page-header">
    <div class="top-page-header">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="contact-list">
                    <ul>
                        <li><i class="fas fa-phone-rotary"></i><a href="tel: 09300804882">09300804882</a></li>
                        <li>
                            <i class="fas fa-envelope"></i><a href="mailto: mranotmillion@gmail.com">mranotmillion@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="top-header-menu">
                    <ul>
                        @if (isAuth && isAdmin)
                        {
                            <li>
                                <a class="btn btn-info text-white btn-sm" asp-area="AdminPanel" asp-controller="AdminHome" asp-action="Home">
                                    <i class="fad fa-user"></i>
                                    پنل ادمین
                                </a>
                            </li>
                        }
                        <li><a asp-controller="Home" asp-action="AdvancedSearch">جستجوی پیشرفته</a></li>
                        @if (isAuth)
                        {
                            <li><a asp-area="UserPanel" asp-controller="Order" asp-action="Orders"> سفارش ها</a></li>
                        }
                        <li><a asp-controller="Book" asp-action="Index">فروشگاه</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bottom-page-header">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="search-box">
                    <form asp-controller="Book" asp-action="Index" method="get">
                        <input type="text" name="Search" id="book--name--auto" placeholder="نام محصول را جستجو کنید...">
                        <i class="far fa-search"></i>
                    </form>
                </div>
            </div>
            <div class="user-items">
                <div class="user-item">
                    <a asp-controller="Book" asp-action="AllUserCompares">
                        <i class="fal fa-random"></i>
                    </a>
                </div>
                @if (isAuth)
                {
                    var userCurrentOrder = ViewBag.UserCurrentOrder as Order;
                    int userBookIdsCount = ViewBag.UserBookIdsCount;

                    <div class="user-item">
                        <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="FavoriteBooks">
                            <i class="fal fa-heart"></i>
                            <span class="bag-items-number">@userBookIdsCount</span>
                        </a>
                    </div>

                    if (userCurrentOrder != null && userCurrentOrder.OrderDetails.Any())
                    {
                        <div class="user-item cart-list">
                            <a asp-area="UserPanel" asp-controller="Order" asp-action="Cart" asp-route-orderId="@userCurrentOrder.OrderId">
                                <i class="fal fa-shopping-basket"></i>
                                <span class="bag-items-number">@userCurrentOrder.OrderDetails.Count</span>
                            </a>
                            <ul>
                                <li class="cart-items">
                                    <ul class="do-nice-scroll">
                                        @foreach (var detail in userCurrentOrder.OrderDetails)
                                        {
                                            <li class="cart-item">
                                                <span class="d-flex align-items-center mb-2">
                                                    <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@detail.ProductId">
                                                        <img src="/images/Book/thumb/@detail.Product.ImageName" alt="@detail.Product.Name تصویر">
                                                    </a>
                                                    <span>
                                                        <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@detail.ProductId">
                                                            <span class="title-item">
                                                                @detail.Product.Name اثر @detail.Product.Writer
                                                            </span>
                                                        </a>
                                                        <span class="color d-flex align-items-center">
                                                            نشر:
                                                            @detail.Product.Publisher.PublisherName
                                                        </span>
                                                    </span>
                                                </span>
                                                @if (detail.Product.Inventory != null && detail.Product.Inventory != 0)
                                                {
                                                    <span class="price">@detail.Price.ToToman()</span>
                                                }
                                                else
                                                {
                                                    <span class="price">نا موجود</span>
                                                }
                                                <button class="remove-item" disabled="disabled">
                                                    @detail.Count
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li class="cart-footer d-flex align-items-center justify-content-between">
                                    <span class="d-flex flex-column">
                                        <span>مبلغ کل:</span>
                                        <span class="total">@userCurrentOrder.OrderSum.ToToman()</span>
                                    </span>
                                    <span class="d-block text-center px-2">
                                        <a asp-area="UserPanel" asp-controller="Order" asp-action="Cart" asp-route-orderId="@userCurrentOrder.OrderId" class="btn-cart">
                                            ثبت سفارش
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="user-item cart-list">
                            <a>
                                <i class="fal fa-shopping-basket"></i>
                                <span class="bag-items-number">0</span>
                            </a>
                            <ul>
                                <li class="cart-items">
                                    <div class="alert alert-danger m-1">
                                        سبد خرید شما خالی است
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                }
                <div class="user-item account">
                    @if (isAuth)
                    {
                        var avatarName = ViewBag.AvatarName as string;
                        long walletBalance = ViewBag.UserWalletBalance;
                        <a asp-controller="UserPanel" asp-action="Dashboard">
                            @User.Identity.Name
                            <i class="fad fa-chevron-down text-sm mr-1"></i>
                        </a>
                        <ul class="dropdown-wrapper">
                            <li class="header-profile-dropdown-account-container">
                                <a asp-controller="UserPanel" asp-action="Dashboard" class="d-block">
                                    <span class="header-profile-dropdown-user">
                                        <span class="header-profile-dropdown-user-img">
                                            <img class="rounded-circle" src="/Avatar/thumb/@avatarName" alt="avatar">
                                        </span>
                                        <span class="header-profile-dropdown-user-info">
                                            <text class="header-profile-dropdown-user-name">
                                                @User.Identity.Name
                                            </text>
                                            <span class="header-profile-dropdown-user-profile-link">
                                                مشاهده حساب
                                                کاربری
                                            </span>
                                        </span>
                                    </span>
                                    <span class="header-profile-dropdown-account">
                                        <span class="header-profile-dropdown-account-item">
                                            <span class="header-profile-dropdown-account-item-title">موجودی</span>
                                            <span class="header-profile-dropdown-account-item-amount">
                                                <span class="header-profile-dropdown-account-item-amount-number">@walletBalance.ToToman()</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="Dashboard">
                                    پروفایل
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="EditProfile">
                                    ویرایش حساب کاربری
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="ChangePassword">
                                    تغییر کلمه عبور
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="Ticket" asp-action="Index">
                                    تیکت ها
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="Wallet" asp-action="ChargeWallet">
                                    کیف پول
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="Order" asp-action="Orders">
                                    فاکتور ها
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="FavoriteBooks">
                                    علاقه مندی ها
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="UserBooks">
                                    خریدها
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="UserComments">
                                    دیدگاه ها
                                </a>
                            </li>
                            <li>
                                <a class="text-danger" asp-controller="Account" asp-action="Logout" asp-route-url="@Context.GetCurrentUrl()">
                                    خروج
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Register" class="btn-auth">
                            <i class="fal fa-user-circle"></i>
                            ورود و عضویت
                        </a>
                        <ul class="dropdown--wrapper">
                            <li>
                                <a asp-controller="Account" asp-action="Login" class="dropdown--btn-primary">وارد شوید</a>
                            </li>
                            <li>
                                <span>کاربر جدید هستید؟</span>
                                <a asp-controller="Account" asp-action="Register" class="border-bottom-dt">ثبت نام</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>

        </div>
        <cache expires-after="TimeSpan.FromMinutes(45)">
            <partial name="_NavBar" />
        </cache>
    </div>
</header>
<div class="header-responsive fixed--header-top">
    <div class="header-top">
        <div class="side-navigation-wrapper">
            <button class="btn-toggle-side-navigation"><i class="far fa-bars"></i></button>
            <div class="side-navigation">
                <div class="site-logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="divider"></div>
                <ul class="not-list-children">
                    <li><a href="/"><i class="fal fa-home"></i> خانه</a></li>
                    <li><a asp-controller="Blog" asp-action="Index"><i class="fal fa-blog"></i>مجله آبی</a></li>
                    <li><a asp-controller="AudioBook" asp-action="AudioBooks"><i class="fal fa-music"></i>کتاب صوتی</a></li>
                    <li><a asp-controller="Home" asp-action="RequestBranch"><i class="fal fa-store"></i>درخواست شعبه</a></li>
                    <li><a asp-controller="Home" asp-action="ContactUs"><i class="fal fa-send-back"></i>ارتباط با ما</a></li>
                    <li><a asp-controller="Home" asp-action="AboutUs"><i class="fal fa-file"></i>درباره ما</a></li>
                </ul>
                <div class="divider"></div>
                @await Component.InvokeAsync("ProductGroupMobileComponent")
            </div>
            <div class="overlay-side-navigation"></div>
        </div>
        <div class="site-logo">
            <a href="/">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="header-tools">
            @if (isAuth)
            {
                @if (ViewBag.UserCurrentOrder is Order userCurrentOrder)
                {
                    <div class="cart-side">
                        <a href="#" class="btn-toggle-cart-side ml-0">
                            <i class="far fa-shopping-basket"></i>
                            <span class="bag-items-number">@userCurrentOrder.OrderDetails.Count</span>
                        </a>
                        <div class="cart-side-content">
                            <ul>
                                @foreach (var detail in userCurrentOrder.OrderDetails)
                                {
                                    <li class="cart-items">
                                        <ul>
                                            <li class="cart-item">
                                                <span class="d-flex align-items-center mb-2">
                                                    <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@detail.ProductId">
                                                        <img src="/images/Book/thumb/@detail.Product.ImageName" alt="@detail.Product.Name">
                                                    </a>
                                                    <span>
                                                        <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@detail.ProductId">
                                                            <span class="title-item">
                                                                @detail.Product.Name اثر @detail.Product.Writer
                                                            </span>
                                                        </a>
                                                        <span class="color d-flex align-items-center">
                                                            نشر:
                                                            <text>@detail.Product.Publisher.PublisherName</text>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="price">@detail.Price.ToString("#,0") تومان</span>
                                                <a asp-area="UserPanel" asp-controller="Order" asp-action="RemoveItemFromOrderDetailMobile" asp-route-url="@Context.GetCurrentUrl()" asp-route-detailId="@detail.DetailId" asp-route-orderId="@userCurrentOrder.OrderId" class="remove-item">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                <li class="cart-footer">
                                    <span class="d-block text-center mb-3">
                                        مبلغ کل:
                                        <span class="total">@userCurrentOrder.OrderSum.ToString("#,0") تومان</span>
                                    </span>
                                    <span class="d-block text-center px-2">
                                        <a asp-area="UserPanel" asp-controller="Order" asp-action="Cart" asp-route-orderId="@userCurrentOrder.OrderId" class="btn-cart">
                                            مشاهده سبد خرید
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="overlay-cart-side"></div>
                    </div>
                }
            }
        </div>

    </div>
    <div class="header-bottom">
        <div class="search-box">
            <form id="search-form" asp-controller="Book" asp-action="Index" method="get">
                <input type="text" name="Search" placeholder="نام محصول را جستجو کنید...">
                <i onclick="search()" class="far fa-search"></i>
            </form>
        </div>
        @if (isAuth)
        {
            <div class="header-tools">
                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="Dashboard"><i class="far fa-user-circle"></i></a>
            </div>
        }
        else
        {
            <div class="header-tools">
                <a asp-controller="Account" asp-action="Register"><i class="far fa-user-circle"></i></a>
            </div>
        }
    </div>
</div>
