@model List<KetabAbee.Domain.Models.Products.ProductGroup>

@if (Model != null && Model.Any())
{
    <ul class="category-list">
        @foreach (var group in Model.Where(g => g.ParentId == null))
        {
            var groupHaveChild = Model.Any(s => s.ParentId == group.GroupId);
            <li class="@(groupHaveChild ? "has-children":"")">
                <a href="/Books?SearchCategory=@group.GroupId">@group.GroupTitle</a>
                @if (groupHaveChild)
                {
                    <ul>
                        @foreach (var sub in Model.Where(s => s.ParentId == group.GroupId))
                        {
                            var subHaveChild = Model.Any(s2 => s2.ParentId == sub.GroupId);
                            <li class="@(subHaveChild ? "has-children":"")">
                                <a href="/Books?SearchCategory=@sub.GroupId">@sub.GroupTitle</a>
                                @if (subHaveChild)
                                {
                                    <ul>
                                        @foreach (var sub2 in Model.Where(s => s.ParentId == sub.GroupId))
                                        {
                                            <li><a href="/Books?SearchCategory=@sub2.GroupId">@sub2.GroupTitle</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}