@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@model KetabAbee.Application.DTOs.Admin.AudioBook.FilterAudioBooksViewModel
@{
    ViewData["Title"] = "کتابهای صوتی";
}

<div class="page-breadcrumbs margin-bottom-20">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="AdminHome" asp-action="Home">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>

<div class="col-12 col-md-12 row margin-bottom-10">
    <a asp-area="AdminPanel" asp-controller="AdminAudioBook" asp-action="UpsertAudioBook" class="btn btn-success col-md-4 margin-left-10">افزودن کتاب صوتی جدید </a>
    <a asp-area="AdminPanel" asp-controller="AdminAudioBook" asp-action="AudioBookRequests" class="btn btn-info col-md-4 margin-left-10">درخواست های کتاب صوتی </a>
</div>
<div class="col-xs-12 col-md-9">
    <div class="well with-header with-footer">
        <div class="header bordered-sky">
            <i class="fa fa-book"></i>
            @ViewData["Title"]
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        شناسه
                    </th>
                    <th>
                        عنوان کتاب صوتی
                    </th>
                    <th>
                        نویسنده
                    </th>
                    <th>
                        گوینده
                    </th>
                    <th>
                        زمان
                    </th>
                    <th>
                        حجم فایل
                    </th>
                    <th>
                        تاریخ ثبت
                    </th>
                    <th>
                        تصویر
                    </th>
                    <th>
                        دستورات
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.AudioBooks != null && Model.AudioBooks.Any())
                {
                    foreach (var book in Model.AudioBooks)
                    {
                <tr>
                    <td>
                        @book.AudioBookId
                    </td>
                    <td>
                        @book.Title
                    </td>
                    <td>
                        @book.Writer
                    </td>
                    <td>
                        @book.Speaker
                    </td>
                    <td>
                        @book.Time.ShowAudioBookTime()
                    </td>
                    <td>
                        @book.FileSize.ToMegaByteForm()
                    </td>
                    <td>
                        @book.CreateDate.ToShamsi()
                    </td>
                    <td class="text-align-center">
                        <img alt="@book.Title" src="@book.ImageLocation" class="img-fluid width-50" />
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="AdminAudioBook" asp-action="UpsertAudioBook" asp-route-audiobookId="@book.AudioBookId">ویرایش</a>
                        <a class="btn btn-danger" asp-controller="AdminAudioBook" asp-action="DeleteAudioBook" onclick="return confirm('از حذف این کتاب صوتی اطمینان دارید ؟')" asp-route-audiobookId="@book.AudioBookId">حذف</a>
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="alert alert-info">کتاب صوتی ثبت نشده است</td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_AdminPaging" model="Model.GetCurrentPaging()" />
    </div>
</div>
<div class="col-12 col-md-3">
    <div class="row mt-4">
        <div class="col-lg-12 mt-4">
            <div class="widget m-4">
                <div class="widget-header bordered-bottom bordered-azure">
                    <i class="widget-icon fa fa-filter azure"></i>
                    <span class="widget-caption azure">فیلتر کتاب صوتی ها</span>
                </div><!--Widget Header-->
                <div class="widget-body no-padding">
                    <div class="tickets-container">
                        <form id="filterform" asp-controller="AdminAudioBook" asp-action="Index" method="get">
                            <input type="hidden" asp-for="PageNum" />
                            <div class="form-group">
                                <label for="definput">عنوان کتاب</label>
                                <input type="text" class="form-control" id="definput" placeholder="جستجو بر اساس عنوان کتاب صوتی" asp-for="Title">
                            </div>
                            <div class="form-group">
                                <label for="definput1">نام نویسنده</label>
                                <input type="text" class="form-control" id="definput1" placeholder="جستجو بر اساس نام نویسنده" asp-for="Writer">
                            </div>
                            <div class="form-group">
                                <label for="definput1">نام گوینده</label>
                                <input type="text" class="form-control" id="definput1" placeholder="جستجو بر اساس نام گوینده" asp-for="Speaker">
                            </div>
                            <div class="form-group">
                                <label>از حجم</label>
                                <input type="text" class="form-control" placeholder="مگابایت" asp-for="MinFileSize" value="">
                                <label>تا حجم</label>
                                <input type="text" class="form-control" placeholder="مگابایت" asp-for="MaxFileSize" value="">
                            </div>
                            <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa fa-search"></i></button>
                            <a class="btn btn-warning btn-lg btn-block" asp-area="AdminPanel" asp-controller="AdminAudioBook" asp-action="Index">لغو فیلتر ها</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


