@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@model KetabAbee.Application.DTOs.Ticket.ShowTicketInAdminViewmodel
@{
    ViewData["Title"] = " جزییات تیکت " + Model.Ticket.Title;
}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs margin-bottom-20">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-controller="AdminHome" asp-action="Home">خانه</a>
            </li>
            <li>
                <a asp-controller="AdminTicket" asp-action="Index">تیکت ها</a>
            </li>
            <li class="active">@ViewData["Title"]</li>
        </ul>
    </div>
    <div class="page-body no-padding">
        ‌<div class="mail-container">
            <div class="mail-body">
                <div class="mail-info">
                    <div class="mail-sender">
                        <a href="#">
                            <img src="/Avatar/thumb/@Model.Ticket.Sender.AvatarName" class="img-circle" width="30" alt="Avatar">
                            <span>@Model.Ticket.Sender.UserName</span>
                        </a>
                    </div>
                    <div class="mail-date">
                        @Model.Ticket.TicketSendDate.ToIraniDate() ساعت @Model.Ticket.TicketSendDate.GetHourAndMinutes()
                    </div>
                </div>
                <div class="border bordered-azure">
                    <div class="mail-text">
                        <p>@Html.Raw(Model.Ticket.Body)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-themeprimary">
                <i class="widget-icon fa fa-tasks themeprimary"></i>
                <span class="widget-caption themeprimary"> گفتگو  (@Model.Answers.Count)</span>
            </div><!--Widget Header-->
            <div class="widget-body no-padding">
                <div class="task-container">

                    @if (Model.Answers.Any())
                    {
                        <ul class="tasks-list">
                            @foreach (var answer in Model.Answers)
                            {
                                <li class="task-item">
                                    <div class="task-check">
                                        <label>
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                    <div class="task-state">
                                        @if (answer.SenderId == User.GetUserId())
                                        {
                                            <span class="label label-green">
                                                @answer.Sender.UserName
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-info">
                                                @answer.Sender.UserName
                                            </span>
                                        }
                                    </div>
                                    <div class="task-time">@answer.SendDate.ToIraniDate() ساعت @answer.SendDate.GetHourAndMinutes()</div>
                                    <div class="task-body">@Html.Raw(answer.AnswerBody)</div>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div><!--Widget Body-->
        </div>

    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-left bordered-success">
                <span class="widget-caption">افزودن جواب به تیکت " @Model.Ticket.Title " </span>
            </div>
            <div class="widget-body bordered-left bordered-green">
                <form asp-controller="AdminTicket" asp-action="CreateAnswer">
                    <input type="hidden" name="id" value="@Model.Ticket.TicketId" />
                    <div class="form-group has-success has-feedback">
                        <label class="control-label">متن جواب</label>
                        <textarea id="Body" name="answerBody" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-success" type="submit">ارسال</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Body', {
            customConfig: '/js/Config.js'
        });
    </script>
}
