@using KetabAbee.Domain.Models.User
@using KetabAbee.Application.Convertors
@model KetabAbee.Application.DTOs.Admin.User.EditUserViewModel
@{
    ViewData["Title"] = " ویرایش " + Model.UserName;
}

<!-- Page Content -->

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs margin-bottom-20">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-controller="AdminHome" asp-action="Home">خانه</a>
            </li>
            <li>
                <a asp-controller="AdminUser" asp-action="Index">کاربران</a>
            </li>
            <li class="active">@ViewData["Title"]</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <form asp-area="AdminPanel" asp-controller="AdminUser" asp-action="EditUser" method="post" role="form" enctype="multipart/form-data">
        <input type="hidden" asp-for="AvatarName"/>
        <input type="hidden" asp-for="UserId"/>
        <div class="col-lg-8 col-sm-8 col-xs-12">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">@ViewData["Title"]</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        <div class="form-title">
                            مشخصات کاربری
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" asp-for="UserName" placeholder="نام کاربری">
                                <i class="glyphicon glyphicon-user circular"></i>
                            </span>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="email" class="form-control" asp-for="Email" placeholder="ایمیل">
                                <i class="fa fa-envelope-o circular"></i>
                            </span>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" asp-for="Password" minlength="6" placeholder="کلمه عبور جدید">
                                <i class="fa fa-lock circular"></i>
                            </span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-title">
                            مشخصات فردی
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" asp-for="Mobile" placeholder="موبایل">
                                        <i class="glyphicon glyphicon-phone"></i>
                                    </span>
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input data-jdp class="form-control" asp-for="BirthDay" placeholder="تاریخ تولد">
                                        <i class="glyphicon glyphicon-time"></i>
                                    </span>
                                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <textarea class="form-control" asp-for="Address" placeholder="آدرس" rows="5"></textarea>
                                    </span>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <hr class="wide">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget flat radius-bordered">
                                @{
                                    var roles = ViewBag.Roles as List<Role>;
                                }
                                <div class="widget-header bg-palegreen">
                                    <span class="widget-caption">نقش ها</span>
                                </div>
                                <div class="widget-body">
                                    <div>
                                        @if (roles != null && roles.Any())
                                        {
                                            foreach (var role in roles)
                                            {
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="selectedRoles" value="@role.RoleId" class="colored-success" @(Model.UserRoles.Any(r=>r==role.RoleId)?"checked":"")>
                                                        <span class="text">@role.RoleTitle</span>
                                                    </label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-azure">
                    <span class="widget-caption">آواتار</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input id="userAvatar" type="file" asp-for="Avatar" class="form-control">
                                <i class="fa fa-image circular"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <img class="thumbnail img-fluid max-width100 height400" id="avatarUp" src="/Avatar/@Model.AvatarName" alt="avatar"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-success btn-lg btn-block">ویرایش کاربر</button>
        </div>
    </form>

<!-- /Page Content -->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="/js/JalaliDataPicker-min.js"></script>
    <script>
        jalaliDatepicker.startWatch();
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#avatarUp').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#userAvatar").change(function () {
            readURL(this);
        });
    </script>
}

