@using KetabAbee.Application.Convertors
@model List<KetabAbee.Application.DTOs.Admin.User.UserBooksScoresViewModel>
@{
    ViewData["Title"] = "امتیاز های کاربر";
}

<div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
        <div class="header bordered-pink">
            @ViewData["Title"]
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        شماره
                    </th>
                    <th>
                        <i class="fa fa-user"></i> ثبت کننده
                    </th>
                    <th>
                        <i class="fa fa-book"></i> محصول
                    </th>
                    <th>
                        امتیاز محتوا
                    </th>
                    <th>
                        امتیاز کیفیت
                    </th>
                    <th>
                        میانگین امتیاز
                    </th>
                    <th>
                        تاریخ ثبت
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var score in Model)
                    {
                        <tr>
                            <td>
                                @score.ScoreId
                            </td>
                            <td>
                                <ol class="dd-list">
                                    @score.UserName
                                    <li class="dd-item bordered-magenta" data-id="6">
                                        <div class="dd-handle"> @score.UserIp </div>
                                    </li>
                                </ol>
                            </td>
                            <td>
                                <a asp-controller="AdminBook" asp-action="BookInfo" asp-route-bookId="@score.BookId">@score.BookName</a>
                            </td>
                            <td>
                                @score.ContentScore
                            </td>
                            <td>
                                @score.QualityScore
                            </td>
                            <td>
                                @score.AverageScores
                            </td>
                            <td>
                                @score.ScoreDate.ToShamsi() ساعت @score.ScoreDate.GetHourAndMinutes()
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
