@using KetabAbee.Application.Convertors
@model List<KetabAbee.Application.DTOs.Admin.User.UserOrderViewModel>
@{
    ViewData["Title"] = "سفارشات";
}

<div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
        <div class="header bordered-pink">
            @ViewData["Title"]
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        شماره
                    </th>
                    <th>
                        <i class="fa fa-user"></i> کاربر
                    </th>
                    <th>
                        <i class="fa fa-book"></i> آدرس
                    </th>
                    <th>
                        مبلغ سفارش
                    </th>
                    <th>
                        نهایی شده
                    </th>
                    <th>
                        ارسال شده
                    </th>
                    <th>
                        تاریخ ثبت
                    </th>
                    <th>
                        جزییات
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var order in Model)
                    {
                        <tr>
                            <td>
                                @order.OrderId
                            </td>
                            <td>
                                @order.UserName
                            </td>
                            <td>
                                @order.Address
                            </td>
                            <td>
                                @order.OrderSum.ToToman()
                            </td>
                            <td>
                                @(order.IsFinally ? "بله" : "خیر")
                            </td>
                            <td>
                                @(order.SendingProcessIsCompleted ? "بله":"خیر")
                            </td>
                            <td>
                                @order.CreateDate.ToShamsi()
                            </td>
                            <td>
                                <a class="btn btn-info" asp-controller="AdminOrder" asp-action="OrderInfo" asp-route-orderId="@order.OrderId">مشاهده</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
