@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@model KetabAbee.Application.DTOs.AudioBook.AudioBookBoxViewModel
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 px-0">
    <div class="product-card">
        <div class="product-card-top">
            <a asp-controller="AudioBook" asp-action="AudioBookInfo" asp-route-audiobookId="@Model.Id" asp-route-audiobookName="@Model.Name.NameFixerForUrl()" class="product-image">
                <img src="@Model.ImageSavePath" alt="@Model.ImageAlt">
            </a>
        </div>
        <div class="product-card-middle">
            <h6 class="product-name">
                <a asp-controller="AudioBook" asp-action="AudioBookInfo" asp-route-audiobookId="@Model.Id" asp-route-audiobookName="@Model.Name.NameFixerForUrl()">
                    @Model.Title
                </a>
            </h6>
            <div class="product-price product-price-clone">@Model.Time.ShowAudioBookTime()</div>
        </div>
        <div class="product-card-bottom">
            <div class="product-price">
                @Model.Time.ShowAudioBookTime()
            </div>
            <a asp-controller="AudioBook" asp-action="AudioBookInfo" asp-route-audiobookId="@Model.Id" asp-route-audiobookName="@Model.Name.NameFixerForUrl()" class="btn-add-to-cart">
                مشاهده
            </a>
        </div>
    </div>
</div>