@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@model KetabAbee.Application.DTOs.Book.BookListViewModel
@{
    var bookName = Model.Name.NameFixerForUrl();
}
<div class="col-md-4 col-12">
    <div class="product-card product-card-horizontal">
        <div class="product-card-top">
            <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@Model.BookId" asp-route-bookName="@bookName" class="product-image">
                <img src="/images/Book/thumb/@Model.ImageName" alt="@Model.Name">
            </a>
        </div>
        <div class="product-card-middle">
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: @Model.BookRate%;"></div>
                </div>
            </div>
            <h6 class="product-name">
                <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@Model.BookId" asp-route-bookName="@bookName">
                    @Model.Name اثر @Model.Writer نشر @Model.PublisherName
                </a>
            </h6>
            @if (Model.BookInventory != null && Model.BookInventory != 0)
            {
                <div class="product-price product-price-clone">@Model.Price.ToToman()</div>
            }
            else
            {
                <div class="product-price product-price-clone text-danger">نا موجود</div>
            }
        </div>
        <div class="product-card-bottom">
            @if (Model.BookInventory != null && Model.BookInventory != 0)
            {
                <div class="product-price">
                    @Model.Price.ToToman()
                </div>
                <a asp-controller="Book" asp-action="AddToCart" asp-route-productId="@Model.BookId" target="_blank" class="btn-add-to-cart">
                    <i class="fad fa-cart-plus"></i>
                    افزودن به سبد خرید
                </a>
            }
            else
            {
                <div class="product-price text-danger">
                    نا موجود
                </div>
                <a class="btn-add-to-cart bg-danger">
                    موجودی نداریم :(
                </a>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        document.getElementById().width = 100;
    </script>
}
