@using KetabAbee.Application.Convertors
@model KetabAbee.Application.DTOs.Blog.BlogInCardViewModel
<div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="blog-card">
        <div class="blog-card-thumbnail">
            <a href="#">
                <img src="/images/blog/image/@Model.ImageName" alt="@Model.BlogTitle">
            </a>
        </div>
        <div class="blog-card-title">
            <h2><a href="#">@Model.BlogTitle</a></h2>
        </div>
        <div class="blog-card-excerpt">
            <p>
               @Model.BlogBody
            </p>
        </div>
        <div class="blog-card-footer">
            <div class="author">
                <img src="/Avatar/thumb/@Model.WriterAvatarName" alt="@Model.Writer">
                <a>@Model.Writer</a>
            </div>
            <div class="date">
                <i class="fad fa-clock"></i>
                @Model.CreateDate.ToShamsi()
            </div>
        </div>
    </div>
</div>