@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@model KetabAbee.Application.DTOs.Blog.BlogInCardViewModel
<div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="blog-card">
        <div class="blog-card-thumbnail">
            <a asp-controller="Blog" asp-action="BlogInfo" asp-route-blogTitle="@Model.BlogTitle.NameFixerForUrl()" asp-route-blogId="@Model.BlogId">
                <img class="img-fluid" src="/images/blog/thumb/@Model.ImageName" alt="@Model.BlogTitle">
            </a>
        </div>
        <div class="blog-card-title">
            <h2><a asp-controller="Blog" asp-action="BlogInfo" asp-route-blogTitle="@Model.BlogTitle.NameFixerForUrl()" asp-route-blogId="@Model.BlogId">@Model.BlogTitle</a></h2>
        </div>
        <div class="blog-card-excerpt">
            <p>
                @Model.BlogDescription
            </p>
        </div>
        <div class="blog-card-footer">
            <div class="author">
                <img src="/Avatar/thumb/@Model.WriterAvatarName" alt="@Model.Writer">
                <a>@Model.Writer</a>
            </div>
            <div class="date">
                <i class="fad fa-clock"></i>
                @Model.CreateDate.ToShamsi()
            </div>
            <div>
                <i class="fad fa-eye"></i>
                @Model.ViewsCount
            </div>
        </div>
    </div>
</div>