@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@model KetabAbee.Application.DTOs.Book.BookListViewModel
@{
    var bookName = Model.Name.NameFixerForUrl();
}
<div class="swiper-slide">
    <div class="product-card">
        <div class="product-card-top">
            <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@Model.BookId" asp-route-bookName="@bookName" class="product-image">
                <img src="/images/Book/thumb/@Model.ImageName" alt="product image">
            </a>
            <div class="product-card-actions">
                <form method="get" asp-controller="Book" asp-action="AddBookToFavoriteFromBookBox">
                    <input type="hidden" name="bookId" value="@Model.BookId"/>
                    <input type="hidden" name="backUrl" value="@Context.GetCurrentUrl()"/>
                    <button class="add-to-wishlist @(Model.IsLiked ? "added":"")" type="submit"><i class="fas fa-heart"></i></button>
                </form>
                <button class="add-to-compare"><i class="fas fa-random"></i></button>
            </div>
        </div>
        <div class="product-card-middle">
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: @Model.BookRate%;"></div>
                </div>
            </div>
            <h6 class="product-name">
                <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@Model.BookId" asp-route-bookName="@bookName">
                    @Model.Name اثر @Model.Writer نشر @Model.PublisherName
                </a>
            </h6>
            @if (Model.BookInventory != null && Model.BookInventory != 0)
            {
                <div class="product-price product-price-clone">@Model.Price.ToToman()</div>
            }
            else
            {
                <div class="product-price product-price-clone text-danger">نا موجود</div>
            }
        </div>
        <div class="product-card-bottom">
            @if (Model.BookInventory != null && Model.BookInventory != 0)
            {
                <div class="product-price">
                    @Model.Price.ToToman()
                </div>
                <a asp-controller="Book" asp-action="AddToCart" asp-route-productId="@Model.BookId" target="_blank" class="btn-add-to-cart">
                    <i class="fad fa-cart-plus"></i>
                    افزودن به سبد خرید
                </a>
            }
            else
            {
                <div class="product-price text-danger">
                    نا موجود
                </div>
                <a class="btn-add-to-cart bg-danger">
                    موجودی نداریم :(
                </a>
            }
        </div>
    </div>
</div>