@using System.Security.Claims
@using KetabAbee.Application.Const
@using KetabAbee.Application.Convertors
@using KetabAbee.Application.Extensions
@using KetabAbee.Application.Interfaces.Order
@using KetabAbee.Application.Interfaces.Permission
@using KetabAbee.Application.Interfaces.Product
@using KetabAbee.Application.Interfaces.User
@using KetabAbee.Application.Interfaces.Wallet
@inject IUserService _userService;
@inject IWalletService _walletService;
@inject IOrderService _orderService;
@inject IProductService _productService;
@inject IPermissionService _permissionService;
<!-- Page Header -->
<header class="page-header">
    <div class="top-page-header">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="contact-list">
                    <ul>
                        <li><i class="fas fa-phone-rotary"></i><a href="tel: 02100000000">021-00000000</a></li>
                        <li>
                            <i class="fas fa-envelope"></i><a href="mailto: site@example.com">site@example.com</a>
                        </li>
                    </ul>
                </div>
                <div class="top-header-menu">
                    <ul>
                        @if (User.Identity.IsAuthenticated && _permissionService.CheckPermission(PerIds.AdminPanel, User.GetUserEmail()))
                        {
                            <li><a asp-area="AdminPanel" asp-controller="AdminHome" asp-action="Home">پنل ادمین</a></li>
                            <li><a asp-area="UserPanel" asp-controller="Order" asp-action="Orders"> سفارش ها</a></li>
                        }
                        <li><a asp-controller="Book" asp-action="Index">فروشگاه</a></li>
                        <li><a asp-controller="Home" asp-action="Index">خانه</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bottom-page-header">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="search-box">
                    <form action="/Books">
                        <input type="text" name="Search" placeholder="نام محصول را جستجو کنید...">
                        <i class="far fa-search"></i>
                    </form>
                    @*<div class="search-result">
                            <ul class="search-result-list">
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">سامسونگ</a></li>
                                <li><a href="#">مودم</a></li>
                                <li><a href="#">اپل</a></li>
                                <li><a href="#">تلویزیون</a></li>
                            </ul>
                            <ul class="search-result-most-view">
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">سامسونگ</a></li>
                                <li><a href="#">مودم</a></li>
                                <li><a href="#">اپل</a></li>
                                <li><a href="#">تلویزیون</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>


            <div class="user-items">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="user-item">
                        <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="FavoriteBooks">
                            @{
                                var userBookIds = _userService.GetUserFavBookIds(User.GetUserId());
                            }
                            <i class="fal fa-heart"></i>
                            <span class="bag-items-number">@_productService.GetFavBooksByBookIds(userBookIds).Count()</span>
                        </a>
                    </div>

                    var userCurrentOrder = _orderService.GetUserUnFinalOrder(User.GetUserId());
                    if (userCurrentOrder != null && userCurrentOrder.OrderDetails.Any())
                    {
                        <div class="user-item cart-list">
                            <a asp-area="UserPanel" asp-controller="Order" asp-action="Cart" asp-route-orderId="@userCurrentOrder.OrderId">
                                <i class="fal fa-shopping-basket"></i>
                                <span class="bag-items-number">@userCurrentOrder.OrderDetails.Count</span>
                            </a>
                            <ul>
                                <li class="cart-items">
                                    <ul class="do-nice-scroll">
                                        @foreach (var detail in userCurrentOrder.OrderDetails)
                                        {
                                            <li class="cart-item">
                                                <span class="d-flex align-items-center mb-2">
                                                    <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@detail.ProductId">
                                                        <img src="/images/Book/thumb/@detail.Product.ImageName" alt="">
                                                    </a>
                                                    <span>
                                                        <a asp-controller="Book" asp-action="BookInfo" asp-route-bookId="@detail.ProductId">
                                                            <span class="title-item">
                                                                @detail.Product.Name اثر @detail.Product.Writer
                                                            </span>
                                                        </a>
                                                        <span class="color d-flex align-items-center">
                                                            نشر:
                                                            @detail.Product.Publisher.PublisherName
                                                        </span>
                                                    </span>
                                                </span>
                                                @if (detail.Product.Inventory != null && detail.Product.Inventory != 0)
                                                {
                                                    <span class="price">@detail.Price.ToToman()</span>
                                                }
                                                else
                                                {
                                                    <span class="price">نا موجود</span>
                                                }
                                                <button class="remove-item">
                                                    @detail.Count
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li class="cart-footer d-flex align-items-center justify-content-between">
                                    <span class="d-flex flex-column">
                                        <span>مبلغ کل:</span>
                                        <span class="total">@userCurrentOrder.OrderSum.ToToman()</span>
                                    </span>
                                    <span class="d-block text-center px-2">
                                        <a asp-area="UserPanel" asp-controller="Order" asp-action="Cart" asp-route-orderId="@userCurrentOrder.OrderId" class="btn-cart">
                                            ثبت سفارش
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="user-item cart-list">
                            <a>
                                <i class="fal fa-shopping-basket"></i>
                                <span class="bag-items-number">0</span>
                            </a>
                            <ul>
                                <li class="cart-items">
                                    <div class="alert alert-danger m-1">
                                        سبد خرید شما خالی است
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                }
                <div class="user-item account">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="UserPanel" asp-action="Dashboard">
                            @User.FindFirstValue(ClaimTypes.Name)
                            <i class="fad fa-chevron-down text-sm mr-1"></i>
                        </a>
                        <ul class="dropdown-wrapper">
                            <li class="header-profile-dropdown-account-container">
                                <a asp-controller="UserPanel" asp-action="Dashboard" class="d-block">
                                    <span class="header-profile-dropdown-user">
                                        <span class="header-profile-dropdown-user-img">
                                            <img class="rounded-circle" src="/avatar/thumb/@_userService.GetAvatarNameByUserId(User.GetUserId())" alt="avatar">
                                        </span>
                                        <span class="header-profile-dropdown-user-info">
                                            <p class="header-profile-dropdown-user-name">
                                                @User.Identity.Name
                                            </p>
                                            <span class="header-profile-dropdown-user-profile-link">
                                                مشاهده حساب
                                                کاربری
                                            </span>
                                        </span>
                                    </span>
                                    <span class="header-profile-dropdown-account">
                                        <span class="header-profile-dropdown-account-item">
                                            <span class="header-profile-dropdown-account-item-title">موجودی</span>
                                            <span class="header-profile-dropdown-account-item-amount">
                                                <span class="header-profile-dropdown-account-item-amount-number">@_walletService.BalanceUserWallet(User.GetUserId()).ToTooman()</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="Dashboard">
                                    پروفایل
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="EditProfile">
                                    ویرایش حساب کاربری
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="ChangePassword">
                                    تغییر کلمه عبور
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="Ticket" asp-action="Index">
                                    تیکت ها
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="Wallet" asp-action="ChargeWallet">
                                    کیف پول
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="Order" asp-action="Orders">
                                    فاکتور ها
                                </a>
                            </li>
                            <li>
                                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="FavoriteBooks">
                                    علاقه مندی ها
                                </a>
                            </li>
                            <li>
                                <a class="text-danger" asp-controller="Account" asp-action="Logout">
                                    خروج
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a href="/Register" class="btn-auth">
                            <i class="fal fa-user-circle"></i>
                            ورود و عضویت
                        </a>
                        <ul class="dropdown--wrapper">
                            <li>
                                <a asp-controller="Account" asp-action="Login" class="dropdown--btn-primary">وارد شوید</a>
                            </li>
                            <li>
                                <span>کاربر جدید هستید؟</span>
                                <a asp-controller="Account" asp-action="Register" class="border-bottom-dt">ثبت نام</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>

        </div>
        <partial name="_NavBar" />
    </div>
</header>
<!-- header responsive -->
<div class="header-responsive fixed--header-top">
    <div class="header-top">
        <div class="side-navigation-wrapper">
            <button class="btn-toggle-side-navigation"><i class="far fa-bars"></i></button>
            <div class="side-navigation">
                <div class="site-logo">
                    <a href="#">
                        <img src="/images/book.png" alt="logo">
                    </a>
                </div>
                <div class="divider"></div>
                <ul class="not-list-children">
                    <li><a href="#"><i class="fal fa-apple-crate"></i> سوپرمارکت</a></li>
                    <li><a href="#"><i class="fal fa-badge-percent"></i> پیشنهادها و تخفیف ها</a></li>
                    <li><a href="#"><i class="fal fa-plus-square"></i> فروشنده شوید</a></li>
                    <li><a href="#"><i class="fal fa-question"></i> سوالی دارید؟</a></li>
                </ul>
                <div class="divider"></div>
                <ul class="category-list">
                    <li class="has-children">
                        <a href="#">کالای دیجیتال</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">مد و پوشاک</a>
                        <ul>
                            <li><a href="#">لباس زنانه</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">زیبایی و سلامت</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">خانه و آشپزخانه</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">کتاب،لوازم تحریر و هنر</a>
                        <ul>
                            <li class="has-children">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">شیائومی</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">هدفون، هدست، هندزفری</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="has-children">
                                <a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                    <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                    <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">لوازم جانبی دوربین</a>
                                <ul>
                                    <li><a href="#">لنز</a></li>
                                    <li><a href="#">کیف</a></li>
                                    <li><a href="#">کارت حافظه</a></li>
                                    <li><a href="#">کاغذ چاپ عکس</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">اسباب بازی،کودک و نوزاد</a>
                    </li>
                    <li>
                        <a href="#">ورزش و سفر</a>
                    </li>
                    <li>
                        <a href="#">خوردنی و آشامیدنی</a>
                    </li>
                </ul>
            </div>
            <div class="overlay-side-navigation"></div>
        </div>
        <div class="site-logo">
            <a href="#">
                <img src="images/logo.png" alt="logo">
            </a>
        </div>
        <div class="header-tools">
            <div class="cart-side">
                <a href="#" class="btn-toggle-cart-side ml-0">
                    <i class="far fa-shopping-basket"></i>
                    <span class="bag-items-number">2</span>
                </a>
                <div class="cart-side-content">
                    <ul>
                        <li class="cart-items">
                            <ul>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-1.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #8a2be2;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">4,050,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-2.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    ساعت مچی هوشمند Haylou LS02
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #000;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">750,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-3.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    هدفون بلوتوثی کیو سی وای مدل T7
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #fff;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">635,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-1.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #8a2be2;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">4,050,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-2.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    ساعت مچی هوشمند Haylou LS02
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #000;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">750,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-3.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    هدفون بلوتوثی کیو سی وای مدل T7
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #fff;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">635,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-1.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #8a2be2;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">4,050,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-2.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    ساعت مچی هوشمند Haylou LS02
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #000;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">750,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="images/cart/item-3.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    هدفون بلوتوثی کیو سی وای مدل T7
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #fff;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">635,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <li class="cart-footer">
                            <span class="d-block text-center mb-3">
                                مبلغ کل:
                                <span class="total">4,050,000 تومان</span>
                            </span>
                            <span class="d-block text-center px-2">
                                <a href="#" class="btn-cart">
                                    مشاهده سبد خرید
                                    <i class="mi mi-ShoppingCart"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="overlay-cart-side"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="search-box">
            <form action="#">
                <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                <i class="far fa-search"></i>
            </form>
            <div class="search-result">
                <ul class="search-result-list">
                    <li><a href="#">موبایل</a></li>
                    <li><a href="#">سامسونگ</a></li>
                    <li><a href="#">مودم</a></li>
                    <li><a href="#">اپل</a></li>
                    <li><a href="#">تلویزیون</a></li>
                </ul>
                <ul class="search-result-most-view">
                    <li><a href="#">موبایل</a></li>
                    <li><a href="#">سامسونگ</a></li>
                    <li><a href="#">مودم</a></li>
                    <li><a href="#">اپل</a></li>
                    <li><a href="#">تلویزیون</a></li>
                </ul>
            </div>
        </div>
        <div class="header-tools">
            <a href="#"><i class="far fa-user-circle"></i></a>
        </div>
    </div>
</div>
<!-- end header responsive -->
<!-- end Page Header -->
<!-- Page Content -->