@using KetabAbee.Application.Convertors
@model KetabAbee.Application.DTOs.Admin.Blog.FilterBlogsViewModel
@{
    ViewData["Title"] = "بلاگ ها";
}


<div class="page-breadcrumbs margin-bottom-20">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="AdminHome" asp-action="Home">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>

<div class="col-12 col-md-12 row margin-bottom-10">
    <a asp-area="AdminPanel" asp-controller="AdminBlog" asp-action="AddBlog" class="btn btn-success col-md-4 margin-left-10">افزودن بلاگ جدید </a>
</div>
<div class="col-xs-12 col-md-9">
    <div class="well with-header with-footer">
        <div class="header bordered-sky">
            <i class="fa fa-book"></i>
            @ViewData["Title"]
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        شماره
                    </th>
                    <th>
                        عنوان بلاگ
                    </th>
                    <th>
                        نویسنده
                    </th>
                    <th>
                        تاریخ ثبت
                    </th>
                    <th>
                        تصویر
                    </th>
                    <th>
                        دستورات
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Blogs != null && Model.Blogs.Any())
                {
                    foreach (var blog in Model.Blogs)
                    {
                        <tr>
                            <td>
                                @blog.BlogId
                            </td>
                            <td>
                                @blog.BlogTitle
                            </td>
                            <td>
                                @blog.Writer
                            </td>
                            <td>
                                @blog.CreateDate.ToShamsi()
                            </td>
                            <td class="text-align-center">
                                <img alt="@blog.BlogTitle" src="/images/blog/thumb/@blog.ImageName" class="img-fluid width-50" />
                            </td>
                            <td>
                                <a class="btn btn-info" asp-controller="AdminBlog" asp-action="EditBlog" asp-route-blogId="@blog.BlogId">ویرایش</a>
                                <a class="btn btn-danger" asp-controller="AdminBlog" asp-action="DeleteBlog" onclick="return confirm('از حذف این بلاگ اطمینان دارید ؟')" asp-route-blogId="@blog.BlogId">حذف</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="alert alert-info">بلاگی ثبت نشده است</td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_AdminPaging" model="Model.GetCurrentPaging()" />
    </div>
</div>
<div class="col-12 col-md-3">
    <div class="row mt-4">
        <div class="col-lg-12 mt-4">
            <div class="widget m-4">
                <div class="widget-header bordered-bottom bordered-azure">
                    <i class="widget-icon fa fa-filter azure"></i>
                    <span class="widget-caption azure">فیلتر بلاگ ها</span>
                </div><!--Widget Header-->
                <div class="widget-body no-padding">
                    <div class="tickets-container">
                        <form id="filterform" asp-controller="AdminBlog" asp-action="Index" method="get">
                            <input type="hidden" asp-for="PageNum" />
                            <div class="form-group">
                                <label for="definput">عنوان بلاگ</label>
                                <input type="text" class="form-control" id="definput" placeholder="جستجو بر اساس عنوان بلاگ" asp-for="BlogTitle">
                            </div>
                            <div class="form-group">
                                <label for="definput1">نام نویسنده</label>
                                <input type="text" class="form-control" id="definput1" placeholder="جستجو بر اساس نام نویسنده" asp-for="Writer">
                            </div>
                            <button class="btn btn-azure btn-lg btn-block" type="submit"><i class="fa fa-search"></i></button>
                            <a class="btn btn-warning btn-lg btn-block" asp-area="AdminPanel" asp-controller="AdminBlog" asp-action="Index">لغو فیلتر ها</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
