@using KetabAbee.Application.Interfaces.Product
@model List<KetabAbee.Application.DTOs.Admin.Products.Book.Publishers.PublisherInAdminViewModel>
@{
    ViewData["Title"] = "ناشران";
}
<!-- Page Breadcrumb -->
<div class="page-breadcrumbs margin-bottom-20">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="AdminHome" asp-action="Home">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<div class="row col-md-12 margin-bottom-20">
    <a class="btn btn-success" asp-controller="AdminPublisher" asp-action="AddPublisher">افزودن ناشر</a>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        @if (Model != null && Model.Any())
        {
            <div class="well with-header  with-footer">
                <div class="header bg-blue">
                    لیست ناشران
                </div>
                <table class="table table-hover">
                    <thead class="bordered-darkorange">
                        <tr>
                            <th>
                                شناسه
                            </th>
                            <th>
                                عنوان
                            </th>
                            <th>
                                دستورات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pub in Model)
                        {
                            <tr>
                                <td>
                                    @pub.PublisherId
                                </td>
                                <td>
                                    @pub.PublisherName
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="AdminPublisher" asp-action="DeletePublisher" asp-route-publisherId="@pub.PublisherId" onclick="return confirm('از حذف این ناشر اطمینان دارید ؟')">حذف</a>
                                    <a class="btn btn-info" asp-controller="AdminPublisher" asp-action="EditPublisher" asp-route-publisherId="@pub.PublisherId">ویرایش</a>
                                    @if (pub.PublisherBooksCount > 0)
                                    {
                                        <a class="btn btn-primary" asp-controller="AdminPublisher" asp-action="PublisherBooks" asp-route-publisherId="@pub.PublisherId">کتابها : @pub.PublisherBooksCount</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info">ناشری ثبت نشده است</div>
        }
    </div>
</div>