@using KetabAbee.Application.Convertors
@model KetabAbee.Application.DTOs.FilterDiscountViewModel
@{
    ViewData["Title"] = "تخفیف ها";
}

<!-- Page Breadcrumb -->
<div class="page-breadcrumbs margin-bottom-20">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-controller="AdminHome" asp-action="Home">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<div class="col-12 col-md-12 row margin-bottom-10">
    <div class="alert alert-info fade in radius-bordered alert-shadowed">
        امکانات این بخش هنوز به خدمات سایت افزوده نشده است
    </div>
</div>
<div class="col-12 col-md-12 row margin-bottom-10">
    <a asp-area="AdminPanel" asp-controller="AdminDiscount" asp-action="CreateDiscount" class="btn btn-success col-md-4 margin-10">افزودن تخفیف جدید <i class="glyphicon glyphicon-plus"></i> </a>
</div>
<form id="filterform" asp-controller="AdminDiscount" asp-action="Index">
    <input type="hidden" asp-for="PageNum"/>
</form>
<div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
        <div class="header bordered-pink">
            @ViewData["Title"]
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        شماره
                    </th>
                    <th>
                        درصد
                    </th>
                    <th>
                        تعداد
                    </th>
                    <th>
                        تاریخ شروع
                    </th>
                    <th>
                        تاریخ انقضا
                    </th>
                    <th>
                        محصول
                    </th>
                    <th>
                        دستورات
                    </th>
                </tr>
            </thead>
            <tbody>
            @if (Model.ProductDiscounts != null && Model.ProductDiscounts.Any())
            {
                foreach (var discount in Model.ProductDiscounts)
                {
                <tr>
                    <td>
                        @discount.DiscountId
                    </td>
                    <td>
                        <p> @discount.Percent <span>٪</span></p>
                    </td>
                    <td>
                        @discount.DiscountNumber
                    </td>
                    <td>
                        @discount.StartDate.ToShamsi()
                    </td>
                    <td>
                        @discount.ExpiredDate.ToShamsi()
                    </td>
                    <td>
                        @discount.Product.Name
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="AdminDiscount" asp-action="EditDiscount" asp-route-discountId="@discount.DiscountId">ویرایش</a>
                        <a class="btn btn-danger" asp-controller="AdminDiscount" asp-action="RemoveDiscount" asp-route-discountId="@discount.DiscountId"
                           onclick="return confirm('از حذف این تخفیف مطمعن هستید ؟')">حذف</a>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="alert alert-info">هنوز تخفیفی ثبت نشده است</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()"/>
</div>
