@using KetabAbee.Application.Interfaces.User
@using KetabAbee.Application.Extensions
@using KetabAbee.Application.DTOs.Admin.Task
@using KetabAbee.Domain.Models.Task
@{
    var avatarName = ViewBag.AvatarName as string;
    var tasks = ViewBag.CurrentAdminTasks as List<TaskForEachAdminViewModel>;
}
<!-- Loading Container -->
<div class="loading-container">
    <div class="loader"></div>
</div>
<!--  /Loading Container -->
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-right">
                <a href="/" class="navbar-brand">
                    <small>
                        <img src="/images/logo.png" alt="logo" />
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-left">
                <div class="navbar-account">
                    <ul class="account-area">
                        @if (tasks != null && tasks.Any())
                        {
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#">
                                    <i class="icon fa fa-tasks"></i>
                                    <span class="badge">@tasks.Count</span>
                                </a>
                                <!--Tasks Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
                                    <li class="dropdown-header bordered-darkorange">
                                        <i class="fa fa-tasks"></i>
                                        @tasks.Count تسک در انتظار انجام
                                    </li>
                                    @foreach (var task in tasks)
                                    {
                                        <li>
                                            <a>
                                                <div class="clearfix">
                                                    <span class="pull-right">@task.Body</span>
                                                    <span class="pull-left">0%</span>
                                                </div>

                                                <div class="progress progress-xs">
                                                    <div style="width: 5%" class="progress-bar @(task.TaskPriority == TaskPriority.Important ? "progress-bar-danger":"")@(task.TaskPriority == TaskPriority.Normal ? "progress-bar-success":"")@(task.TaskPriority == TaskPriority.NotImportant ? "progress-bar-info":"")"></div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <!--/Tasks Dropdown-->
                            </li>
                        }
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img src="/Avatar/thumb/@avatarName" alt="avatar">
                                </div>
                                <section>
                                    <h2><span class="profile"><span>@User.Identity.Name </span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>@User.Identity.Name</a></li>
                                <li class="email"><a>@User.GetUserEmail()</a></li>
                                <!--Avatar Area-->
                                <li>
                                    <div class="avatar-area">
                                        <img src="/Avatar/thumb/@avatarName" class="avatar rounded" alt="avatar">
                                    </div>
                                </li>
                                <!--Avatar Area-->
                                <li class="edit">
                                    <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="Dashboard" class="pull-left">پروفایل</a>
                                </li>
                                <li class="dropdown-footer">
                                    <a class="text-danger" asp-controller="Account" asp-action="Logout">
                                        خروج از سیستم
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>