@using KetabAbee.Application.Extensions
@using KetabAbee.Application.Convertors
@model KetabAbee.Application.DTOs.AudioBook.ShowAudioBookInfoViewModel
@{
    ViewData["Title"] = Model.Title;
}
@section MetaTag
{
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="description" content="@Model.PageDescription" />
    <meta property=og:site_name value="کتابفروشی کتاب آبی">
    <meta property=og:title content="@Model.Title">
    <meta property=og:url content="@CommonExtensions.DomainAddress/A-Book/@Model.AudioBookId/@Model.Name.NameFixerForUrl()" />
    <meta property=og:image content="@PathExtensions.AudioBookImageFullAddress(Model.ImageName)">
    <meta property=og:image:url content="@PathExtensions.AudioBookImageFullAddress(Model.ImageName)" />
    <meta property=og:image:width content="700">
    <meta property=og:image:type content="image/jpg">
    <meta property=og:description content="">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">
}
<main class="page-content mt-205">
    <div class="container container--md">
        <div class="row mb-4">
            <div class="col-lg-8 col-md-8 mb-md-0 mb-3">
                <div class="row mb-1">
                    <div class="col-12">
                        <!-- breadcrumb -->
                        <div class="breadcrumb mb-1">
                            <nav>
                                <a href="/">خانه</a>
                                <a asp-controller="AudioBook" asp-action="AudioBooks">کتاب های صوتی</a>
                                <a>@Model.Name</a>
                            </nav>
                        </div>
                        <!-- end breadcrumb -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-detail">
                            <div class="product-title border-0 mb-3">
                                <h1>
                                    @Model.Title
                                </h1>
                            </div>
                            <ul class="nav nav-tabs" id="product-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="productDescription-tab" data-toggle="tab" href="#productDescription" role="tab" aria-controls="productDescription" aria-selected="true">جزییات</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="productComments-tab" data-toggle="tab" href="#productComments" role="tab" aria-controls="productComments" aria-selected="false">پرسش و پاسخ</a>
                                </li>
                            </ul>
                            <div class="product-tab-content box box--rounded rounded--top-0">
                                <div class="tab-content p-0" id="product-tab">
                                    <div class="tab-pane fade show active" id="productDescription" role="tabpanel" aria-labelledby="productDescription-tab">
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <div class="product-thumbnail">
                                                    <img src="@Model.ImageSavePath" class="rounded-lg img-fluid" alt="@Model.Title">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 d-lg-block d-none">
                                                <div class="services row">
                                                    <div class="col-12">
                                                        <div class="service-item flex-column align-items-center">
                                                            <img src="/images/services/delivery-person.png" class="ml-0" alt="">
                                                            <div class="service-item-body text-center">
                                                                <h6 class="text-sm">استفاده آسان</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="service-item flex-column align-items-center">
                                                            <img src="/images/services/headset.png" class="ml-0" alt="">
                                                            <div class="service-item-body text-center">
                                                                <h6 class="text-sm">با کیفیت</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="service-item flex-column align-items-center">
                                                            <img src="/images/services/debit-card.png" class="ml-0" alt="">
                                                            <div class="service-item-body text-center">
                                                                <h6 class="text-sm">رایگان</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-success mt-2">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <audio controls class="mr-10">
                                                    <source src="@Model.FileSavePath" type="audio/ogg">
                                                </audio>
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            <h3 class="text-sm text-secondary font-weight-bold text-center mb-4 mt-3">
                                                @Model.Title
                                            </h3>
                                            <h3>نقد و بررسی</h3>
                                            <div class="pb-2">
                                                <hr>
                                            </div>
                                            <p class="mb-3">
                                                @Html.Raw(Model.Review)
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="productComments" role="tabpanel" aria-labelledby="productComments-tab">
                                        <!-- product-review -->
                                        <div class="product-review-form mb-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <a onclick="LoadCreateQuestionABookModalBody(@Model.AudioBookId)" class="btn btn-success btn-block px-3">ارسال پرسش <i class="fad fa-comment-alt-edit"></i></a>
                                                </div>
                                            </div>
                                            <div class="section-title mb-1 mt-4">
                                                پرسش های کاربران (@Model.QuestionsCount)
                                            </div>
                                            <hr>
                                        </div>
                                        @await Component.InvokeAsync("AudioBookQuestionsComponent", Model.AudioBookId)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="box box--rounded pt-3 mb-3">
                    <div class="product-detail">
                        <div class="product-price">
                            <div class="product-price-info">
                                <div class="product-price-off">
                                    @Model.FileSize <span>مگابایت</span>
                                </div>
                            </div>
                            <div class="product-price-real">
                                <div class="product-price-raw">@Model.Time.ShowAudioBookTime() </div>
                            </div>
                        </div>
                        <ul class="text-muted mb-3">
                            <li><i class="far fa-check"></i> کیفیت صدای عالی</li>
                            <li><i class="far fa-check"></i> قابلیت پخش آنلاین و دانلود</li>
                            <li><i class="far fa-check"></i> امکان درخواست کتاب جدید</li>
                            <li><i class="far fa-check"></i> همیشه رایگان :)</li>
                        </ul>
                        <a asp-controller="AudioBook" asp-action="DownloadFile" asp-route-audiobookId="@Model.AudioBookId" class="btn btn-success btn-block"> دانلود <i class="fad fa-download mr-2"></i></a>
                    </div>
                </div>
                <div class="box box--rounded pt-3 mb-3">
                    <div class="d-flex justify-content-between px-2 py-2">
                        <span class="font-weight-bold">تاریخ انتشار</span>
                        <span class=" text-muted">
                            @Model.CreateDate.ToIraniDate()
                        </span>
                    </div>
                    <div class="d-flex justify-content-between px-2 py-2">
                        <span class="font-weight-bold">نویسنده</span>
                        <span class="text-muted">
                            @Model.Writer
                        </span>
                    </div>
                    <div class="d-flex justify-content-between px-2 py-2">
                        <span class="font-weight-bold">گوینده</span>
                        <span class="text-muted">
                            @Model.Speaker
                        </span>
                    </div>
                    <div class="d-flex justify-content-between px-2 py-2">
                        <span class="font-weight-bold">زمان</span>
                        <span class="text-muted">
                            @Model.Time.ShowAudioBookTime()
                        </span>
                    </div>
                    <div class="d-flex justify-content-between px-2 py-2">
                        <span class="font-weight-bold">حجم فایل</span>
                        <span class="text-muted">
                            @Model.FileSize.ToMegaByteForm()
                        </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center px-2 py-2">
                        <span class="font-weight-bold">لینک کوتاه</span>
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element dir-ltr text-sm" value="@CommonExtensions.DomainAddress/A-B/@Model.AudioBookId">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between px-2 py-2">
                        <a onclick="LoadAddBookRequestModalBody(@Model.AudioBookId)" class="btn btn-outline-info btn-block">ثبت درخواست کتاب صوتی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="RequestModal" tabindex="-1" aria-labelledby="RequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="RequestModalContent">

        </div>
    </div>
</div>
<div class="modal fade" id="QuestionModal" tabindex="-1" aria-labelledby="QuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="QuestionModalContent">

        </div>
    </div>
</div>
